@import url("https://fonts.googleapis.com/css2?family=Inspiration&family=Poppins:wght@500&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto&family=Source+Sans+Pro&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  margin-right: 100px;
}

nav{
  display: flex;
  justify-content: space-between;
  background-color: aqua;
}

nav>ul{
 display: inline-block;
justify-content: space-between;
list-style-type: none;
}
