@import url("https://fonts.googleapis.com/css2?family=Inspiration&family=Poppins:wght@500&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto&family=Source+Sans+Pro&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

nav{
  display: flex;
  justify-content: space-between;
  background-color: aqua;
  width: 100%;
}

nav li{
 display: inline-block;
list-style-type: none;
margin: 0 8px;
}

.menu-line{
  height: 2px;
  width: 20px;
  background-color: blueviolet;
  margin-bottom: 3px;
}

.menu{
  cursor: pointer;
  display: none;
}

@media (max-width:400px){
  nav{
    flex-direction: column;
  }
  nav li{
    display: block;
  }
}