@import url("https://fonts.googleapis.com/css2?family=Inspiration&family=Poppins:wght@500&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto&family=Source+Sans+Pro&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  background-position: center;
}

@keyframes firework {
  0%{
    transform: translate(-50%, 0vh) ;
  }
  28%{
    width: 0.1vmin;
    opacity: 0.1;
  }
  30%{
    width: 0.5vmin;
    opacity: 1;
  }
  100%{
    
  }
}



