@import url(https://db.onlinewebfonts.com/c/115792e2e8292773cdb8dd0ab76459f2?family=Font+Awesome+6+Free+Solid);
@import url(https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Montserrat&family=Open+Sans:wght@500&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-size: cover;
}

body {
  /* background: url(../images/Home.png);
  opacity: 0.5;
  background-repeat: no-repeat; */

  font-family: var(--lexend-deca);
  font-size: 1.4rem;
  line-height: 1.6;
  font-weight: 300;
}

img {
  object-fit: cover;
}

:root {
  --lexend-deca: "Lexend Deca", sans-serif;
  --source-serif: "Source Serif 4", serif;
  font-weight: 500;
  font-style: normal;
}

.hamburger {
  margin-top: 30px;
  margin-left: -4px;
  cursor: pointer;
}

.logo img {
  margin-bottom: 15px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.ham {
  width: 30px;
  height: 6px;
  background-color: black;
  margin: 4px 0;
}

.menu {
  display: flex;
  background-color: rgb(255, 255, 255);
  justify-content: space-around;
}

.menu .contact span {
  font-weight: 900;
}

.contact {
  padding: 20px 30px;
  border: 1px solid rgba(159, 205, 50, 0.7);
  background-color: #fff;
  color: #000;
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: var(--lexend-deca);
  font-weight: 700;
  line-height: 21px;
  font-size: 13px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.contact:hover {
  filter: brightness(85%);
}

/* nav section */

.nav {
  background-color: #9fcd32;
  width: 300px;
  height: 600px;
  top: 0px;
  position: fixed;
  z-index: +25;
}

.close {
  position: absolute;
  right: 0;
  color: rgb(255, 255, 255);
  font-family: var(--lexend-deca);
  background-color: rgb(214, 19, 19);
  font-size: 16px;
  padding: 12px;
  line-height: 16px;
  font-weight: 500;
  font-style: normal;
  cursor: pointer;
}

.nav-list {
  padding: 20px;
  list-style: none;
  text-align: center;
  display: inline;
  line-height: 70px;
}

.nav-list a {
  text-decoration: none;
  color: #fff;
  font-family: var(--lexend-deca);
  margin: 10px 80px;
  padding-top: 30px;
  text-align: center;
  font-weight: 500;
  line-height: 26px;
  font-size: 16px;
}

.nav-list a:hover {
  background-color: #577909;
  padding: 10px;
}

.active {
  display: none;
}

/* destination banner */

.banner {
  margin: 0px 10px 50px 0px;
  position: relative;
}

.bannerImage {
  width: 100%;
  height: 250px;
}
.banner img {
  width: 100%;
  height: 70vh;
  filter: brightness(75%);
}

.bannerImage h1 {
  position: absolute;

  top: 200px;
  left: 250px;
  color: white;
}

.bannerImage h3 {
  position: absolute;
  top: 100px;
  left: 243px;
  color: white;
  text-transform: uppercase;
  margin-top: 30px;
}

.bannerImage button {
  background: #9fcd32;
  outline: none;
  border: none;
  font-size: 0.8rem;
  font-weight: 500;
  margin-top: 38px;
  padding: 12px 30px;
  border-radius: 0px;
  cursor: pointer;
  color: white;
  font-weight: 900;
  transition: 0.5s;
}

/* brief */

.dest-brief {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  text-align: center;
  align-content: center;
}

.dest-brief h3 {
  font-family: var(--source-serif);
  line-height: 48px;
  font-size: 30px;
  font-weight: 500;
}

.dest-brief p {
  margin-top: 20px;
  font-family: var(--lexend-deca);
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  font-style: normal;
  width: 40%;
}

/* Collage Section */

.gallery-section {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 250px;
}

.gallery-section img {
  height: 100%;
  width: 100%;
}

/* Geography Section */

.geography {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
  padding: 100px;
}

.geography h1 {
  font-family: var(--source-serif);
  font-size: 30px;
  font-weight: 500;
  line-height: 48px;
  font-style: normal;
}

.geography-left {
  margin-right: 30px;
}

.geography p {
  margin: 30px 0px 30px 0px;
  font-family: var(--lexend-deca);
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  font-style: normal;
}

.geography-right img {
  width: 300px;
  height: 200px;
}

.geography-right p {
  background-color: #fff;
  font-family: var(--lexend-deca);
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  font-style: normal;
  padding: 20px;
  text-align: center;
}

.geography .map-icon {
  position: relative;
  color: #618c2f;
  font-size: 50px;
  top: 65px;
  right: 5%;
}

/* brief section */

.brief {
  position: relative;
  width: 100%;
  height: 1000px;
}

.brief-image {
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url(../images/DestinationPage/dest-brief-2.jpg);
  background-size: cover;
  filter: brightness(50%);
  object-fit: cover;
  background-position: bottom center;
}

.brief .content {
  position: relative;
  z-index: 1;
  padding: 20px;
  color: white;
  top: 50%;
}

.brief .content p {
  font-family: var(--source-serif);
  font-weight: 500;
  font-size: 30px;
  line-height: 48px;
  text-align: center;
}

/* History Section */

.History {
  text-align: center;
}

.History h1 {
  font-family: var(--source-serif);
  font-size: 30px;
  font-weight: 500;
  line-height: 48px;
  font-style: normal;
}

.History-Brief {
  display: flex;
  flex-direction: row;
}

.History-Brief .paragraph {
  flex: 1;
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
  font-family: var(--lexend-deca);
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  font-style: normal;
}

/*Video Section */

.Video-section {
  position: relative;
  background: url(../images/DestinationPage/dest-info.jpg);
  height: 90vh;
}

.Text-Box {
  position: absolute;
  background-color: #ffffff;
  top: 100px;
  padding: 40px 20px 30px 40px;
  left: 90px;
  z-index: +10;
}

.Text-Box h1 {
  font-family: var(--source-serif);
  font-size: 30px;
  font-weight: 500;
  line-height: 48px;
  font-style: normal;
  margin-bottom: 20px;
}

.Text-Box h3 {
  font-family: var(--lexend-deca);
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  font-style: normal;
  margin-bottom: 20px;
}

.Text-Box .Text-Bold {
  font-family: var(--lexend-deca);
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  font-style: normal;
}

.Text-Box Button {
  position: absolute;
  font-family: var(--lexend-deca);
  background-color: #9fcd32;
  font-weight: 700;
  padding: 15px 35px 15px 35px;
  border: none;
  color: #fff;
  right: 0;
  margin-top: -16px;
}

#video-file {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 8vw;
  width: 55%;
  z-index: +9;
}

/* Date-Section */

.Date-section {
  background-color: #9fcd32;
  color: white;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.booking {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.Date-section .booking h1 {
  font-family: var(--source-serif);
  font-size: 30px;
  font-weight: 500;
  line-height: 48px;
  font-style: normal;
}

.Date-section .booking h1 span {
  font-family: var(--source-serif);
  font-size: 30px;
  font-weight: 500;
  line-height: 45px;
  font-style: normal;
  color: rgb(65, 119, 3);
}

.Date-section .booking h1 .Date-icon {
  color: rgb(255, 255, 255);
  font-family: var(--lexend-deca);
  font-size: 45px;
  font-weight: 500;
  line-height: 13px;
  font-style: normal;
}

.Date-section .booking .Date-Button button {
  border: none;
  font-family: var(--lexend-deca);
  font-size: 13px;
  font-weight: 700;
  line-height: 21px;
  background-color: #fff;
  font-style: normal;
  color: #000000;
  padding: 15px 35px 15px 35px;
}

.Date-section .booking .Date-Details {
  margin-right: 100px;
}

/* footer Section */

/* footer Section */

.footer {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(5, 1fr);
  background-color: #417703;
}

.footer .footer-head {
  color: #9fcd32;
  font-weight: 700;
}

.footer1 img {
  width: 200px;
}

.footer1 {
  font-family: var(--lexend-deca);
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: #fff;
  font-style: normal;
  text-align: center;
  margin: 50px;
}

.footer p {
  padding: 10px;
}

.footer2 {
  font-family: var(--lexend-deca);
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: #fff;
  font-style: normal;
  margin: 50px;
}

.footer3 {
  font-family: var(--lexend-deca);
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: #fff;
  font-style: normal;
  margin: 50px;
}

.footer4 {
  font-family: var(--lexend-deca);
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: #fff;
  font-style: normal;
  margin: 50px;
}

.footer5 {
  font-family: var(--lexend-deca);
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: #fff;
  font-style: normal;
  margin: 50px;
}

.footer5 a {
  color: white;
  margin: 8px;
}

.footer1 img {
  font-size: 14px;
}

/*  ----------------------------------------click to top------------------------------------------ */
.top {
  position: fixed;
  bottom: 0;
  right: 0px;
  padding: 5px;
  margin: 10px;
  background-color: #618c2f;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 2px 5px -1px;
  display: none;
  z-index: +99;
}

.top:hover {
  background-color: white;
  border: 1px solid black;
}

.top.Topactive {
  display: block;
}

.top a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.top a:hover {
  color: #417703;
  font-weight: 600;
}

/* Media Query */

@media (max-width: 900px) {
  .banner .bannerImage img {
    height: 45vh;
    object-fit: cover;
    
  } 
}

@media (max-width: 600px) {
  .banner .bannerImage img {
    height: 40vh;
    object-fit: cover;
    
  } 
}
