@import url(https://db.onlinewebfonts.com/c/115792e2e8292773cdb8dd0ab76459f2?family=Font+Awesome+6+Free+Solid);
@import url(https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Montserrat&family=Open+Sans:wght@500&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap);

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-size: cover;
}

 body{
  /* background: url(../images/Home.png);
  opacity: 0.5;
  background-repeat: no-repeat; */

  font-family: var(--lexend-deca);
  font-size: 1.4rem;
  line-height: 1.6;
  font-weight: 300;
} 

img{
  object-fit: cover;
}

:root{
  --lexend-deca: 'Lexend Deca', sans-serif;
  --source-serif: "Source Serif 4", serif;
    font-weight: 500;
    font-style: normal;
  }
  
.hamburger {
  margin-top: 30px;
  margin-left: -4px;
  cursor: pointer;
}

.logo img {
  margin-bottom: 15px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.ham {
  width: 30px;
  height: 6px;
  background-color: black;
  margin: 4px 0;
}

.menu {
  display: flex;
  background-color: rgb(255, 255, 255);
  justify-content: space-around;
}

.menu .contact span {
  font-weight: 900;
}

.contact {
  padding: 20px 30px;
  border: 1px solid rgba(159, 205, 50, 0.7);
  background-color: #fff;
  color: #000;
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: var(--lexend-deca);
  font-weight: 700;
  line-height: 21px;
  font-size: 13px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.contact:hover {
  filter: brightness(85%);
}

/* nav section */

.nav{
    background-color: #9FCD32;
    width: 300px;
    height: 600px;
    top: 0px;
    position:fixed;
    z-index: +25;
  }
  
  .close{
    position: absolute;
    right: 0;
    color: rgb(255, 255, 255);
    font-family: var(--lexend-deca);
    background-color: rgb(214, 19, 19);
    font-size: 16px;
    padding: 12px;
    line-height: 16px;
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
    
  
  }
  
  .nav-list{
    padding: 20px;
    list-style: none;
    text-align: center;
    display: inline;
    line-height: 70px;
  
  }
  
  .nav-list a{
    text-decoration: none;
    color: #fff;
    font-family: var(--lexend-deca);
    margin: 10px 80px;
    padding-top: 30px;
    text-align: center;
    font-weight: 500;
    line-height: 26px;
    font-size: 16px;
  }
  
  .nav-list a:hover{
      background-color: #577909;
      padding: 10px;
      
  }
  
  .active{
    display: none;
  }

/* destination banner */

   .banner{
     margin: 0px 10px 50px 0px;
    position: relative;
   }

   .bannerImage {
   width: 100%;
   height: 250px;

   }
  .banner img{
      width: 100%;
      height: 70vh;
      filter: brightness(75%);
  }

  .bannerImage h1{
    position: absolute;
   
    top: 200px;
    left: 250px;
    color: white;
  }

  .bannerImage h3{
    position: absolute;
    top: 100px;
    left: 243px;
    color: white;
    text-transform: uppercase;
    margin-top: 30px;
  }

  .bannerImage button{
  background: #9fcd32;
  outline: none;
  border: none;
  font-size: 0.8rem;
  font-weight: 500;
  margin-top: 38px;
  padding: 12px 30px;
  border-radius: 0px;
  cursor: pointer;
  color: white;
  font-weight: 900;
  transition: 0.5s;
  }

  /* brief */

.dest-brief{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-top: 200px;
   text-align: center;
   align-content: center;

}

.dest-brief h3{
  font-family: var(--source-serif);
  line-height: 48px;
  font-size: 30px;
  font-weight: 500;
}

.dest-brief p{
  margin-top: 20px;
 font-family: var(--lexend-deca);
 font-size: 14px;
 line-height: 22px;
 font-style: normal;
 width: 40%;
}

/* Collage Section */

div.gallery{
  margin-top: 50px;
}

div.gallery img {
  width: 100%;
  height: 50vh;
}

/* .responsive {
  float: left;
  width: 33.33%;
} */

/* Geography Section */

.geography{
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  background-color:#E0E0E0;
  padding: 100px;
  
}

.geography h1{
  font-family: var(--source-serif);
  font-size: 30px;
  font-weight: 500;
  line-height: 48px;
  font-style: normal;
}

.geography-left{
  margin-right: 30px;
}


.geography p{
  margin: 30px 0px 30px 0px ;
  font-family: var(--lexend-deca);
 font-size: 14px;
 font-weight: 300;
 line-height: 22px;
 font-style: normal;
} 

.geography-right img{
  width: 300px;
  height: 200px;
}

.geography-right p{
  background-color: #fff;
  font-family: var(--lexend-deca);
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  font-style: normal;
  padding: 20px;
  text-align: center;
}

.geography .map-icon{
   position: absolute;
  color: #618C2F;
  font-size: 50px;
 top: 2170px;
 right: 530px;
}

/* breif section */

.brief{
  width: 100%;
  height: 1000px;
  background: url(../images/DestinationPage/dest-brief-2.jpg);
  object-fit: cover;
}

.brief p{
  color: #fff;
}

/* History Section */






