@import url(https://db.onlinewebfonts.com/c/115792e2e8292773cdb8dd0ab76459f2?family=Font+Awesome+6+Free+Solid);
@import url(https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Montserrat&family=Open+Sans:wght@500&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-size: cover;
}

body {
  /* background: url(../images/Home.png);
  opacity: 0.5;
  background-repeat: no-repeat; */

  font-family: var(--lexend-deca);
  font-size: 1.4rem;
  line-height: 1.6;
  font-weight: 300;
}

img {
  object-fit: cover;
}

:root {
  --lexend-deca: "Lexend Deca", sans-serif;
  --source-serif: "Source Serif 4", serif;
  font-weight: 500;
  font-style: normal;
}

.hamburger {
  margin-top: 30px;
  margin-left: -4px;
  cursor: pointer;
}

.logo img {
  margin-bottom: 15px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.ham {
  width: 30px;
  height: 6px;
  background-color: black;
  margin: 4px 0;
}

.menu {
  display: flex;
  background-color: rgb(255, 255, 255);
  justify-content: space-around;
}

.menu .contact span {
  font-weight: 900;
}

.contact {
  padding: 20px 30px;
  border: 1px solid rgba(159, 205, 50, 0.7);
  background-color: #fff;
  color: #000;
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: var(--lexend-deca);
  font-weight: 700;
  line-height: 21px;
  font-size: 13px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.contact:hover {
  filter: brightness(85%);
}

/* nav section */

.nav {
  background-color: #9fcd32;
  width: 300px;
  height: 600px;
  top: 0px;
  position: fixed;
  z-index: +25;
}

.close {
  position: absolute;
  right: 0;
  color: rgb(255, 255, 255);
  font-family: var(--lexend-deca);
  background-color: rgb(214, 19, 19);
  font-size: 16px;
  padding: 12px;
  line-height: 16px;
  font-weight: 500;
  font-style: normal;
  cursor: pointer;
}

.nav-list {
  padding: 20px;
  list-style: none;
  text-align: center;
  display: inline;
  line-height: 70px;
}

.nav-list a {
  text-decoration: none;
  color: #fff;
  font-family: var(--lexend-deca);
  margin: 10px 80px;
  padding-top: 30px;
  text-align: center;
  font-weight: 500;
  line-height: 26px;
  font-size: 16px;
}

.nav-list a:hover {
  background-color: #577909;
  padding: 10px;
}

.active {
  display: none;
}

/* banner section */

.banner {
  margin: 0px 10px 50px 0px;
  position: relative;
}

.bannerImage {
  width: 100%;
  height: 250px;
}
.banner img {
  width: 100%;
  height: 70vh;
  filter: brightness(75%);
}

.bannerImage h1 {
  position: absolute;
  font-family: var(--source-serif);
  top: 200px;
  left: 250px;
  color: white;
  font-size: 55px;
  font-weight: 500;
  line-height: 88px;
}

.bannerImage h3 {
  position: absolute;
  font-family: var(--lexend-deca);
  font-weight: 300;
  top: 100px;
  size: 30px;
  line-height: 48px;
  left: 243px;
  color: white;
  text-transform: uppercase;
  margin-top: 30px;
}

@media (max-width: 600px) {
  .banner img {
    width: 100%;
    height: 250px;
  }

  .bannerImage h1 {
    font-family: var(--source-serif);
    top: 100px;
    left: 150px;
    color: white;
    align-items: center;
    font-size: 34px;
    font-weight: 500;
    line-height: 60px;
  }

  .bannerImage h3 {
    position: absolute;
    font-family: var(--lexend-deca);
    align-items: center;
    font-weight: 300;
    top: 40px;
    font-size: 17px;
    font-style: normal;
    line-height: 27px;
    left: 150px;
    color: white;
    text-transform: uppercase;
    margin-top: 30px;
  }
}

@media (max-width: 888px) {
  .banner img {
    width: 100%;
    height: 270px;
  }

  .bannerImage h1 {
    font-family: var(--source-serif);
    top: 100px;
    left: 50px;
    color: white;
    align-items: center;
    font-size: 34px;
    font-weight: 500;
    line-height: 60px;
  }

  .bannerImage h3 {
    position: absolute;
    font-family: var(--lexend-deca);
    align-items: center;
    font-weight: 300;
    top: 40px;
    font-size: 17px;
    font-style: normal;
    line-height: 27px;
    left: 50px;
    color: white;
    text-transform: uppercase;
    margin-top: 30px;
  }
}

/* Trip Section */

.trip-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  align-items: center;
  text-align: center;
}

.trip-section p {
  font-size: 15px;
}

.trip-section h1 {
  color: #4f7000;
  font-family: var(--source-serif);
  font-size: 30px;
  line-height: 48px;
  font-style: normal;
}

.trip-box h1 {
  font-size: 20px;
}

.trip-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  margin: 80px;
  column-gap: 20px;
}

.trip-box h1 {
  font-family: var(--source-serif);
  font-weight: 500;
  font-size: 30px;
  line-height: 48px;
}

.trip-box1 {
  background-color: #9fcd32;
  color: white;
  font-size: 20px;
  margin: 20px;
  font-family: var(--lexend-deca);
  font-size: 14px;
  font-weight: 300;
  padding: 50px;
}

.trip-box2 {
  background-color: #417703;
  color: white;
  font-size: 20px;
  font-family: var(--lexend-deca);
  font-size: 14px;
  font-weight: 300;
  margin: 20px;
  padding: 50px;
}

/* booking section */

.booking-section{
  background: url(../images/PrivateTour/privtour-intro.jpg);
  width: 100vw;
  height: 100vh;
  filter: brightness(60%);
  z-index: -9;
}

.booking-section h1{
  color: white;
  text-align: center;
  z-index: +10;
}

/* Guides Section */


.guide{
  margin: 7rem 0;
  display: grid;
  gap: 3vw;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr))
}

.reviews{
  padding: 50px 50px 50px 50px;
  background-color: #fff;
}

.guides h1{
  font-weight: 500;
  font-size: 30px;
  font-family: var(--source-serif);
  text-align: center;
}

.reviews p{
  font-family: var(--lexend-deca);
  font-size: 14px;
  line-height: 22px;
  font-style: normal;
}

.guides img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}