@import url(https://db.onlinewebfonts.com/c/115792e2e8292773cdb8dd0ab76459f2?family=Font+Awesome+6+Free+Solid);
@import url(https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Montserrat&family=Open+Sans:wght@500&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-size: cover;
  scroll-behavior: smooth;
}

body {
  font-family: var(--lexend-deca);
  font-size: 1.4rem;
  line-height: 1.6;
  font-weight: 300;
}

img {
  object-fit: cover;
}

:root {
  --lexend-deca: "Lexend Deca", sans-serif;
  --source-serif: "Source Serif 4", serif;
  font-weight: 500;
  font-style: normal;
}

/* menu bar cp */

.header {
  padding: 1.3rem 0;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-items: center;
}

.hamburger {
  cursor: pointer;
}

.ham-one,
.ham-two,
.ham-three {
  display: block;
  width: 30px;
  height: 4px;
  background-color: #000;
}

.ham-one:not(:last-child),
.ham-two:not(:last-child),
.hamb-three:not(:last-child) {
  margin-bottom: 0.4rem;
}

/* Media Query for header section */

@media only screen and (max-width: 600px) {
  .header {
    grid-template-columns: 3.5rem 20rem;
    row-gap: 2rem;
    justify-content: space-around;
  }

  .header-nav {
    grid-area: 1/1/2/2;
  }

  .header__logo {
    grid-area: 2/1/3/3;
    height: 3rem;
  }

  .header__btn {
    grid-area: 1/2/2/3;
  }
}

@media only screen and (max-width: 350px) {
  .header__logo {
    height: 2rem;
  }
}

/* menu bar ends */

#logo-size {
  padding: 2px;
  font-size: 13px;
  line-height: 21px;
  color: rgb(0, 0, 0);
}

.get-in-touch {
  font-weight: 700;
  font-size: 13px;
  line-height: 21px;
  border-bottom: none;
  color: #000;
  text-transform: uppercase;
}

header a {
  text-decoration: none;
  border: 1px solid #9fcd32;
  padding: 2px 30px 2px 30px;
}

/* nav section */

.nav {
  background-color: #9fcd32;
  width: 300px;
  height: 200vh;
  top: 0px;
  position: fixed;
  z-index: +25;
  display: none;
}
.close {
  position: absolute;
  right: 0;
  color: rgb(255, 255, 255);
  font-family: var(--lexend-deca);
  background-color: rgb(214, 19, 19);
  font-size: 16px;
  padding: 12px;
  line-height: 16px;
  font-weight: 500;
  font-style: normal;
  cursor: pointer;
}

.nav-list {
  margin-top: 50px;
  padding: 0px;
  list-style: none;
  text-align: center;
  display: block;
  line-height: 70px;
}

.nav-list li a {
  text-decoration: none;
  color: #fff;
  font-family: var(--lexend-deca);
  font-weight: 500;
  font-size: 16px;
}

.nav-list li:hover {
  background-color: #668d09;
  width: 100%;
  padding: 0;
}

.nav-list li:hover a {
  color: #fff;
}

.active {
  display: block;
}

/* active navbar bg color */

.nav-list a:is(:link, :active, :visited).activebg {
  display: block;
  background-color: #577909;
  width: 100%;
  padding: 0;
}
  
/* Banner Section */

.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),
    url("../images/SingleTourPage/singtour-banner.jpg");
  height: 100vh;
  display: flex;
  align-items: center;
  object-fit: cover;
  background-size: cover;
  padding: 0 100px;
}

.banner .content h3 {
  color: white;
  font-weight: 300;
  line-height: 48px;
  font-family: var(--lexend-deca);
  size: 30px;
}

.banner .content .head1 {
  color: white;
  font-family: var(--source-serif);
  font-size: 55px;
  line-height: 88px;
}

.banner .content .banner-btn {
  background: #9fcd32;
  outline: none;
  border: none;
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: 38px;
  padding: 15px 30px;
  border-radius: 0px;
  cursor: pointer;
  color: white;
  font-weight: 800;
  transition: 0.5s;
}

.banner .content .banner-btn:hover {
  background-color: #8bbb1b;
}

.banner .content button:hover {
  background-color: #545e3c;
}

/* Media Query for Banner content */

@media (max-width: 913px) {
  .banner {
    height: 60vh;
    object-fit: cover;
    padding: 0 50px;
  }
  .banner .content h3 {
    font-size: 19px;
    line-height: 30px;
  }
  .banner .content .head1 {
    font-size: 37px;
    line-height: 59px;
  }
  .banner .content .banner-btn {
    font-size: 12px;
    line-height: 19px;
    padding: 10px 20px;
  }
}

@media all and (max-width: 617px) {
  .banner .content {
    padding: 10px 60px;
    text-align: center;
    font-size: 34px;
    line-height: 54px;
  }

  .banner .content h3 {
    margin-top: 50px;
    font-size: 17px;
    line-height: 27px;
  }

  .banner .content .head1,
  .banner .content .head2 {
    font-size: 28px;
    line-height: 54px;
  }

  .banner .content .banner-btn {
    margin-top: 20px;
  }
}

/* Media Query for Banner content Ends*/


/* Tab section */

.tab{
  margin: 100px;
}

.tab .tab-head{
  font-family: var(--source-serif);
   text-align: left;
   font-weight: 500;
   line-height: 48px;
   font-size: 30px;
}

#nav-tab{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 2px solid #9FCD32;
}

#nav-tab li{
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  font-family: var(--lexend-deca);
  font-size: 14px;
  line-height: 22px;

}

#nav-tab li a{
  border-bottom: 5px solid transparent;
  color: #000000;
  font-weight: 300;
  text-decoration: none;
}

#nav-tab li.opening a {
  border-bottom: 5px solid #9FCD32;
  color: #000;
  font-weight: 500;
}

.tab-page{
  display: none;
  min-height: 100vh;
}

.tab-page.page-opening{
  display: block;
}

/* tab 1 - hightlights*/

.tab .tab-content .tab-page .location{
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}


.tab .tab-content .tab-page .location .location-info{
  padding: 25px;
  width: 50%;
  margin: 10px 100px 50px 3px;
}

.map{
  width: 50%;
}

.map iframe{
  height: 40vw;
  width: 40vw;
}

.tab .tab-content .tab-page .location .location-info span{
  display: block;
  font-family: var(--lexend-deca);
  font-weight: 300;
  font-style: normal;
  line-height: 22px;
  font-size: 14px;
  margin: 20px;
  border-bottom: 2px solid darkgrey;
}

.tab .tab-content .tab-page .location .location-info .location-rate p{
  border-bottom: none;
  font-family: var(--lexend-deca);
  font-weight: 300;
  font-style: normal;
  line-height: 22px;
  font-size: 14px;
  text-align: center;
  padding: 20px;
}

.tab .tab-content .tab-page .location .location-info .location-rate .rate-1{
  background-color: #9FCD32;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  padding: 4px 13px 4px 13px;
  margin-right: 5px;
}

.tab .tab-content .tab-page .location .location-info .location-rate .rate-2{
  font-weight: 500;
  font-size: 14px;
  font-weight: bold;
}

/* Timeline */
  

.route-description p{
	font-size: 14px;
	line-height: 22px;
	font-family: var(--lexend-deca);
	margin-bottom: 20px;
  }
  
  .desc-button{
	background: #9fcd32;
	  outline: none;
	  border: none;
	  font-size: 0.8rem;
	  font-weight: 500;
	  margin-top: 38px;
	  padding: 12px 30px;
	  border-radius: 0px;
	  cursor: pointer;
	  color: white;
	  font-weight: 900;
	  transition: 0.5s;
  }

  .route{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px 50px;
  }

  .tab-route-item{
		display: grid;
		grid-template-columns: 30% 10% 1fr;
  }

  .tab-route-box{
	margin-top: 0;
	margin-right: 2%;
	font-family: var(--lexend-deca);
	font-size: 14px;
	line-height: 22px;
	font-weight: 300;
	width: 30vw;
	background-color: #EEEEEE;
  }

  .tab-route-box li{
	list-style: none;
	width: 30vw;
  height: auto;
	background-color: #EEEEEE;
	margin:30px 0;
  }

  .tab-route-marker{
	position: relative;
  }

  .tab-route-marker::before{
	content: "";
    width: 1rem;
    height: 1rem;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    background-color: #9FCD32;
}

.tab-route-marker::after{
		content: "";
		width: 2px;
		height: 4rem;
		position: absolute;
		left: 0.4rem;
		top: 1rem;
		background-color: #9fcd32;
}

.tab-route-time{
	align-self: center;
    text-align: right;
    margin-right: 2rem;
    color: #9fcd32;
    font-weight: bold;
}


.route-description{
  margin-top: 40px;
	width: 70vw;
  }



.desc-button{
  background: #9fcd32;
    outline: none;
    border: none;
    font-size: 0.8rem;
    font-weight: 500;
    margin-top: 38px;
    padding: 12px 30px;
    border-radius: 0px;
    cursor: pointer;
    color: white;
    font-weight: 900;
    transition: 0.5s;
}

.desc-button:hover{
  background-color: #417703;
}

/* timeline ends */

.tab .tab-content .tab-page .location{
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.tab .tab-content .tab-page .tab-gallery{
    height: 52rem;
    display: flex;
    gap: 3rem;
}


.tab .tab-content .tab-page .left-gallery{
    flex: 0 0 35rem;
    height: 52rem;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, 13.33333rem);
    gap: 2px;
}

.tab .tab-content .tab-page .left-gallery img{
  margin-top: 20px;
  height: 100%;
  width: 100%;
}

.tab .tab-content .tab-page .right-gallery{
 flex: 1;
}

.tab .tab-content .tab-page .right-gallery img{
  margin-top: 20px;
  height: 77%;
  width: 100%;
}

.tab .tab-content .tab-page .route .route-info{
  background-color: #EEEEEE;
}

.tab .tab-content .tab-page .location .location-info{
  background-color: #EEEEEE;
}

.tab .tab-content .tab-page .location .location-info .location-rate{
  background-color: #DADADA;
}


/* Media Query for tab section */

@media all and (max-width: 1000px){
  .tab .tab-content .tab-page .location{
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .tab .tab-content .tab-page .location .location-info{
    padding: 25px;
    width: 100%;
    margin: 0 auto
  }

  .map{
    margin: 0 auto;
    width:100vw;
  }

  .map iframe{
    display: grid;
    place-items: center;
    height: 50vw;
    width: 80vw;
    /* margin: 0 auto; */
  }
  
}

@media only screen and (max-width: 900px) {
  .tab-gallery {
      flex-direction:column;
      height: 120rem;
  }
}

@media all and (max-width: 900px) {
  .route{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
}

@media all and (max-width: 900px) {
  .route{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
}



@media all and (max-width: 700px) {
 
  .map{
    margin-left: -60px;
    width:85vw;
  }

}

@media all and (max-width: 600px) {
#nav-tab li{
 margin-right: 30px;

}

}

@media all and (max-width: 400px) {
  #nav-tab li{
   margin-right: 10px;
  
  }
}

/* Slider Section */
.slider{
  position: relative;
  margin: 30px 0px 30px 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 350px;
}

.slider img{
  width: 100%;
  height: 100%;
}

.slider .slider-right, .slider-left{
  color: #417703;
  transform: translateY(-50px);
  border: none;
  font-size: 20px;
  font-weight: bold;
  padding: 18px;
  line-height: 1;
  background-color: #9fcd32;
  position: absolute;
  top: 50%;
  border-radius: 20px;
  cursor: pointer;
  margin : 20px;
}

.slider-images,
.hidden
{
display: none;

}

.show{
  display: block;
  animation: fadeAnimation 1s;
}

.slider-left{
  right: 0;
}

@keyframes fadeAnimation {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
    transition: transform 1s ease-in-out;;
  }
}


/* SingleTour Button section */

.singleTour{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0px 50px 0px;
}

.singleTour button {
  background: #9fcd32;
  outline: none;
  border: none;
  font-size: 0.8rem;
  font-weight: 500;
  margin-top: 38px;
  padding: 10px 20px;
  border-radius: 0px;
  cursor: pointer;
  color: white;
  font-weight: 900;
  transition: 0.5s;
}

.singleTour button:hover{
  background-color: #577909;
}

  
/* footer Section */

.footer{
  display: grid;
  place-content: center;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  background-color: #417703;
}

.footer .footer-head{
  color: #9fcd32;
  font-weight: 700;
}

.footer1 img{
  width: 200px;
}

.footer1{
  font-family: var(--lexend-deca);
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: #fff;
  font-style: normal;
  text-align: center;
  margin:50px;
}

.footer p{
  padding: 10px;
}

.footer2{
  font-family: var(--lexend-deca);
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: #fff;
  font-style: normal;
  margin:50px;
}

.footer3{
  font-family: var(--lexend-deca);
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: #fff;
  font-style: normal;
  margin:50px;
}

.footer4{
  font-family: var(--lexend-deca);
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: #fff;
  font-style: normal;
  margin:50px;
}

.footer5{
  font-family: var(--lexend-deca);
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: #fff;
  font-style: normal;
  margin:50px;
}

.footer5 a{
  color: white;
  margin: 8px;
}

.footer1 img{
  font-size: 14px;
}

/*  ----------------------------------------click to top------------------------------------------ */

.top {
  position: fixed;
  bottom: 0;
  right: 0px;
  padding: 5px;
  margin: 10px;
  background-color:#618c2f;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 2px 5px -1px;
  display: none;
  z-index: +99;
}


.top:hover {
  background-color: white;
  border: 1px solid black;
}

.top.Topactive {
  display: block;
}

.top a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.top a:hover {
  color: #01176f;
  font-weight: 600;
}





