@import url(https://db.onlinewebfonts.com/c/115792e2e8292773cdb8dd0ab76459f2?family=Font+Awesome+6+Free+Solid);
@import url(https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Montserrat&family=Open+Sans:wght@500&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap);

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-size: cover;
}

img{
  object-fit: cover;
}

:root{
  --lexend-deca: 'Lexend Deca', sans-serif;
  --source-serif: "Source Serif 4", serif;
    font-weight: 500;
    font-style: normal;
  }
  
.hamburger {
  margin-top: 20px;
  margin-left: -12px;
}

.logo img {
  margin-bottom: 20px;
}

.ham {
  width: 30px;
  height: 5px;
  background-color: black;
  margin: 4px 0;
}

.menu {
  display: flex;
  background-color: rgb(255, 255, 255);
  justify-content: space-around;
}

.menu .contact span {
  font-weight: 900;
}

.contact {
  padding: 20px 30px;
  border: 1px solid rgba(159, 205, 50, 0.7);
  background-color: #fff;
  color: #000;
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: var(--lexend-deca);
  font-weight: 700;
  line-height: 21px;
  font-size: 13px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.contact:hover {
  filter: brightness(85%);
}

.banner {
  background: url(../images/hero-banner.jpg);
  max-width: 100%;
  height: 100vh;
  object-fit: cover;
  padding-top: 100px;
  background-size: cover;
}

.banner h3 {
  color: #fff;
  text-align: center;
  font-family: var(--lexend-deca);
  font-weight: 300;
  font-size: 30px;
  font-style: normal;
  line-height: 48px;
  padding-right: 470px;
 
}

.banner .head1 {
  color: #fff;
  text-align: center;
  font-size: 55px;
 font-family: var(--source-serif);
 padding-right: 540px;
 font-weight: 500px;
 line-height: 108px;
}

.banner .head2 {
  color: #fff;
  text-align: center;
  font-weight: 500px;
  font-size: 55px;
 font-family: var(--source-serif);
 padding-right: 470px;
 line-height: 108px;
}


.banner button {
  background-color: #c2f056;
  color: #fff;
  padding: 13px 46px 18px 25px;
  font-family: var(--lexend-deca); 
  font-weight: 900;
  border: none;
  margin-left: 200px;
}

/* nav section */

.nav{
  background-color: #9FCD32;
  width: 300px;
  height: 600px;
  top: 0px;
  position:fixed;
  z-index: +11;
}

.close{
  position: absolute;
  right: 0;
  color: rgb(255, 255, 255);
  font-family: var(--lexend-deca);
  background-color: rgb(214, 19, 19);
  font-size: 16px;
  padding: 12px;
  line-height: 16px;
  font-weight: 500;
  font-style: normal;

}

.nav-list a{
  text-decoration: none;
  color: #fff;
  font-family: var(--lexend-deca);
  margin: 10px 80px;
  padding-top: 30px;
  text-align: center;
  font-weight: 500;
  line-height: 26px;
  font-size: 16px;
}

.nav-list a:hover{
    background-color: #577909;
    padding: 10px;
}

.active{
  
}

/* trip section */

.trip{
  display: flex;
  justify-content: space-around;
  margin: 0px 200px;
  align-items: center;
  height: 50vh;
}

.trip_icon{
  background-color: #DDEBBC;
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

.trip .trip_icon p{
  font-family: var(--lexend-deca);
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  font-style: normal;
}

.fa-solid {
   font-size: 60px;
   padding: 35px;
}

.fas {
  font-size: 60px;
  padding: 35px;
}

/* info section  */

.info {
  /* background: url(../images/banner3.jpg); */
  position: relative;
  background-repeat: no-repeat;
  width: 100%; 
  height: 644px;
}

.info-item{
  position: absolute;
  background-color: #ffffff;
  top: 50%;
  transform: translateY(-50%);
  left: 8vw;
  padding: 3vw 3vw 6rem 3vw;
  width: 40%;
  z-index: 10;
}

.info img {
  width: 100%; 
  height: 90vh; 
}

.info-video{
  position: absolute;
  top: -10%;
  transform: translateY(-50%);
  right: 18vw;
  width: 35%;
  height: 100px;
}


@media (max-width: 624px) {
  .menu .hamburger {
     flex: 50%;
  }

  .menu .logo {
    flex: 100%;
 }

 .menu .contact {
  flex: 50%;
}
}


