@import url(https://db.onlinewebfonts.com/c/115792e2e8292773cdb8dd0ab76459f2?family=Font+Awesome+6+Free+Solid);
@import url(https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Montserrat&family=Open+Sans:wght@500&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-size: cover;
  scroll-behavior: smooth;
}

body {
  font-family: var(--lexend-deca);
  font-size: 1.4rem;
  line-height: 1.6;
  font-weight: 300;
}

img {
  object-fit: cover;
}

:root {
  --lexend-deca: "Lexend Deca", sans-serif;
  --source-serif: "Source Serif 4", serif;
  font-weight: 500;
  font-style: normal;
}

/* menu bar cp */

.header {
  padding: 1.3rem 0;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-items: center;
}

.hamburger {
  cursor: pointer;
}

.ham-one,
.ham-two,
.ham-three {
  display: block;
  width: 30px;
  height: 4px;
  background-color: #000;
}

.ham-one:not(:last-child),
.ham-two:not(:last-child),
.hamb-three:not(:last-child) {
  margin-bottom: 0.4rem;
}

/* Media Query for header section */

@media only screen and (max-width: 600px) {
  .header {
    grid-template-columns: 3.5rem 20rem;
    row-gap: 2rem;
    justify-content: space-around;
  }

  .header-nav {
    grid-area: 1/1/2/2;
  }

  .header__logo {
    grid-area: 2/1/3/3;
    height: 3rem;
  }

  .header__btn {
    grid-area: 1/2/2/3;
  }
}

@media only screen and (max-width: 350px) {
  .header__logo {
    height: 4rem;
  }
}

/* menu bar ends */

#logo-size {
  padding: 2px;
  font-size: 13px;
  line-height: 21px;
  color: rgb(0, 0, 0);
}

.get-in-touch {
  font-weight: 700;
  font-size: 13px;
  line-height: 21px;
  border-bottom: none;
  color: #000;
  text-transform: uppercase;
}

header a {
  text-decoration: none;
  border: 1px solid #9fcd32;
  padding: 2px 30px 2px 30px;
}

/* Banner Section */

.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),
    url("../images/HomePage/hero-banner.jpg");
  height: 100vh;
  display: flex;
  align-items: center;
  object-fit: cover;
  background-size: cover;
  padding: 0 100px;
}

.banner .content h3 {
  color: white;
  font-weight: 300;
  line-height: 48px;
  font-family: var(--lexend-deca);
  size: 30px;
}

.banner .content .head1 {
  color: white;
  font-family: var(--source-serif);
  font-size: 55px;
  line-height: 88px;
}

.banner .content .head2 {
  color: white;
  font-family: var(--source-serif);
  font-size: 55px;
  line-height: 88px;
}

.banner .content .banner-btn {
  background: #9fcd32;
  outline: none;
  border: none;
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: 38px;
  padding: 20px 40px;
  border-radius: 0px;
  cursor: pointer;
  color: white;
  font-weight: 800;
  transition: 0.5s;
}

.banner .content .banner-btn:hover {
  background-color: #8bbb1b;
}

.banner .content button:hover {
  background-color: #545e3c;
}

/* Media Query for Banner content */

@media (max-width: 913px) {
  .banner {
    height: 60vh;
    object-fit: cover;
    padding: 0 50px;
  }
  .banner .content h3 {
    font-size: 19px;
    line-height: 30px;
  }
  .banner .content .head1 {
    font-size: 37px;
    line-height: 59px;
  }
  .banner .content .head2 {
    font-size: 37px;
    line-height: 59px;
  }
  .banner .content .banner-btn {
    font-size: 12px;
    line-height: 19px;
    padding: 10px 20px;
  }
}

@media all and (max-width: 617px) {
  .banner .content {
    padding: 10px 60px;
    text-align: center;
    font-size: 34px;
    line-height: 54px;
  }

  .banner .content h3 {
    margin-top: 50px;
    font-size: 17px;
    line-height: 27px;
  }

  .banner .content .head1,
  .banner .content .head2 {
    font-size: 28px;
    line-height: 54px;
  }

  .banner .content .banner-btn {
    margin-top: 20px;
  }
}

/* Media Query for Banner content Ends*/

.nav {
  background-color: #9fcd32;
  width: 300px;
  height: 200vh;
  top: 0px;
  position: fixed;
  z-index: +25;
  display: none;
}
.close {
  position: absolute;
  right: 0;
  color: rgb(255, 255, 255);
  font-family: var(--lexend-deca);
  background-color: rgb(214, 19, 19);
  font-size: 16px;
  padding: 12px;
  line-height: 16px;
  font-weight: 500;
  font-style: normal;
  cursor: pointer;
}

.nav-list {
  margin-top: 50px;
  padding: 0px;
  list-style: none;
  text-align: center;
  display: block;
  line-height: 70px;
}

.nav-list li a {
  text-decoration: none;
  color: #fff;
  font-family: var(--lexend-deca);
  font-weight: 500;
  font-size: 16px;
}

.nav-list li:hover {
  background-color: #577909;
  width: 100%;
  padding: 0;
}

.nav-list li:hover a {
  color: #fff;
}

.active {
  display: block;
}

/* trip section */

.trip {
  display: flex;
  justify-content: space-around;
  margin: 0px 200px;
  align-items: center;
  height: 50vh;
}

.trip_icon {
  background-color: #ddebbc;
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

.trip .trip_icon p {
  font-family: var(--lexend-deca);
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  font-style: normal;
  text-align: center;
}

.fa-solid {
  font-size: 60px;
}

.trip_icons {
  font-size: 60px;
  padding: 35px;
}

.contact_icon {
  font-size: 10px;
  padding: 10px;
}

.fas {
  font-size: 60px;
  padding: 35px;
}

/* Media Query for Trip Section*/

@media all and (max-width: 916px) {
  .trip {
    margin: 0px 100px;
  }

  .trip_icon {
    background-color: #ddebbc;
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }

  .trip .trip_icon p {
    margin-top: 5px;
    font-family: var(--lexend-deca);
    font-size: 12px;
    font-weight: 300;
    line-height: 22px;
    font-style: normal;
    text-align: center;
  }

  .fa-solid {
    font-size: 60px;
  }

  .trip_icons {
    font-size: 30px;
    padding: 18px;
  }

  .contact_icon {
    font-size: 10px;
    padding: 24px;
  }

  .fas {
    font-size: 30px;
    padding: 20px;
  }
}

@media all and (max-width: 608px) {
  .trip {
    margin: 0px 10px;
  }
}

/*Video Section */

.Video-section {
  position: relative;
  background: url(../images/HomePage/home-info.jpg);
  height: 80vh;
  width: 100vw;
  background-size: cover;
}

.Text-Box {
  position: absolute;
  background-color: #ffffff;
  top: 90px;
  padding: 20px 20px 30px 20px;
  left: 90px;
  max-width: 500px;
  height: 52vh;
  z-index: +10;
}

.Text-Box h1 {
  font-family: var(--source-serif);
  font-size: 30px;
  font-weight: 500;
  line-height: 48px;
  font-style: normal;
  margin-bottom: 20px;
}

.Text-Box h3 {
  font-family: var(--lexend-deca);
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  font-style: normal;
  margin-bottom: 20px;
}

.Text-Box .Text-Bold {
  font-family: var(--lexend-deca);
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  font-style: normal;
  margin-bottom: 30px;
}

.Text-Box Button {
  position: absolute;
  font-family: var(--lexend-deca);
  background-color: #9fcd32;
  font-weight: 700;
  padding: 15px 35px 10px 35px;
  border: none;
  color: #fff;
  right: 0;
  margin-top: -3px;
}

#video-file {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 8vw;
  width: 55%;
  z-index: +9;
}

/* Media Query for Video Section*/

@media all and (max-width: 918px) {
  .Video-section {
    position: relative;
    background: url(../images/HomePage/home-info.jpg);
    height: 135vh;
    width: 100vw;
    background-size: cover;
  }

  .Text-Box {
    background-color: #ffffff;
    top: 90px;
    padding: 20px 20px 30px 20px;
    left: 90px;
    width: 80vw;
    height: 52vh;
    z-index: +10;
    margin-top: -40px;
  }

  #video-file {
    margin: 0 auto;
    position: absolute;
    top: 0%;
    left: 0;
    transform: translateY(50%);
    height: 100vh;
    width: 100vw;
    z-index: +9;
  }
}

@media all and (max-width: 900px){
  .Text-Box {
    top: 10%;
    padding: 20px 20px 30px 20px;
    width: 100vw;
    height: 52vh;
    z-index: +10;
    left: 18%;
 
  }
}

@media all and (max-width: 616px){
  .Video-section{
    top: -30px;
    background: url(../images/HomePage/homfo.jpg);
  }

  #video-file {
    top:-180px;
  }

  .Text-Box {
    background-color: #ffffff;
    top: 90px;
    padding: 20px 20px 30px 20px;
    width: 100vw;
    height: 37vh;
    z-index: +10;
    left: 0;
    margin-bottom: 20px;
  }

  .Text-Box h1 {
    font-size: 25px;
    line-height: 41px;
    margin-bottom: 20px;
  }
  
  .Text-Box h3 {
    font-size: 12px;
    line-height: 19px;
    margin-bottom: 20px;
    margin: 0 auto;
  }
  
  .Text-Box .Text-Bold {
    font-size: 12px;
    line-height: 19px;
    margin-bottom: 0;
  }
  
}

/* Gallery section */

.gallery-head {
  text-align: center;
  font-family: var(--source-serif);
  font-weight: 500;
  font-size: 30px;
  line-height: 48px;
  margin: 100px 50px 100px 50px;

}

.gallery {
  display: grid; 
  margin: 20px auto;
  grid-template-rows: repeat(6,1fr);
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
  height:140vh;
  width:90vw;
   
}
 
.gallery img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}      

.gallery {
  display: grid; 
  margin: 20px auto;
  grid-template-rows: repeat(6,1fr);
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
  height:140vh;
  width:90vw;
   
}

/* Gallery Hover Effects Starts */

/* item 0 */

#item-0 .hover-head{
  margin: 150px 0px 0px 27px;
  color: white;
  font-family: var(--source-serif);
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
}

#item-0 .hover-price{
  background-color: #9FCD32;
  padding: 3px 20px 3px 20px ;
  margin: 130px 0px 0px 27px;
}


#item-0 .hover-text{
  margin: 40px 0px 0px 27px;
  color: white;
  font-family: var(--lexend-deca);
  font-size: 14px;
}

#item-0 .hover-time{
  margin: 10px 10px 0px 27px;
  color: white;
  font-family: var(--lexend-deca);
  font-size: 14px;

}

#item-0 .hover-head,
#item-0 .hover-price,
#item-0 .hover-text,
#item-0 .hover-time {
  transition: all 0.3s ease; 
}

#item-0 .hover-head:hover{
  margin: 50px 0px 0px 27px;
}


#item-0 .hover-price:hover{
  margin: 60px 0px 0px 27px;
}
 

#item-0 .hover-text:hover{
  visibility: visible;
}

#item-0 .hover-time:hover{
 visibility: visible;

}

/* item 1 */

#item-1 .hover-head{
  margin: 150px 0px 0px 27px;
  color: white;
  font-family: var(--source-serif);
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
}

#item-1 .hover-price{
  background-color: #9FCD32;
  padding: 3px 20px 3px 20px ;
  margin: 130px 0px 0px 27px;
  color: white;
}


#item-1 .hover-text{
  margin: 40px 0px 0px 27px;
  color: white;
  font-family: var(--lexend-deca);
  font-size: 14px;
}

#item-1 .hover-time{
  margin: 10px 10px 0px 27px;
  color: white;
  font-family: var(--lexend-deca);
  font-size: 14px;

}

#item-1 .hover-head,
#item-1 .hover-price,
#item-1 .hover-text,
#item-1 .hover-time {
  transition: all 0.3s ease; 
}

#item-1 .hover-head:hover{
  margin: 50px 0px 0px 27px;
}

#item-1 .hover-price:hover{
  margin: 60px 0px 0px 27px;
}
 

#item-1 .hover-text:hover{
  visibility: visible;
}

#item-1 .hover-time:hover{
 visibility: visible;

}

/* item 2 */

#item-2 .hover-head{
  margin: 150px 0px 0px 27px;
  color: white;
  font-family: var(--source-serif);
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
}

#item-2 .hover-price{
  background-color: #9FCD32;
  padding: 3px 20px 3px 20px ;
  margin: 130px 0px 0px 27px;
  color: white;
}


#item-2 .hover-text{
  margin: 40px 0px 0px 27px;
  color: white;
  font-family: var(--lexend-deca);
  font-size: 14px;
}

#item-2 .hover-time{
  margin: 10px 10px 0px 27px;
  color: white;
  font-family: var(--lexend-deca);
  font-size: 14px;

}

#item-2 .hover-head,
#item-2 .hover-price,
#item-2 .hover-text,
#item-2 .hover-time {
  transition: all 0.3s ease; 
}

#item-2 .hover-head:hover{
  margin: 50px 0px 0px 27px;
}

#item-2 .hover-price:hover{
  margin: 60px 0px 0px 27px;
}
 

#item-2 .hover-text:hover{
  visibility: visible;
}

#item-2 .hover-time:hover{
 visibility: visible;

}

/* item 3 */

#item-3 .hover-head{
  margin: 150px 0px 0px 27px;
  color: white;
  font-family: var(--source-serif);
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
}

#item-3 .hover-price{
  background-color: #9FCD32;
  padding: 3px 20px 3px 20px ;
  margin: 130px 0px 0px 27px;
  color: white;
}


#item-3 .hover-text{
  margin: 40px 0px 0px 27px;
  color: white;
  font-family: var(--lexend-deca);
  font-size: 14px;
}

#item-3 .hover-time{
  margin: 10px 10px 0px 27px;
  color: white;
  font-family: var(--lexend-deca);
  font-size: 14px;

}

#item-3 .hover-head,
#item-3 .hover-price,
#item-3 .hover-text,
#item-3 .hover-time {
  transition: all 0.3s ease; 
}

#item-3 .hover-head:hover{
  margin: 50px 0px 0px 27px;
}

#item-3 .hover-price:hover{
  margin: 60px 0px 0px 27px;
}
 

#item-3 .hover-text:hover{
  visibility: visible;
}

#item-3 .hover-time:hover{
 visibility: visible;

}

/* item 4 */

#item-4 .hover-head{
  margin: 150px 0px 0px 27px;
  color: white;
  font-family: var(--source-serif);
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
}

#item-4 .hover-price{
  background-color: #9FCD32;
  padding: 3px 20px 3px 20px ;
  margin: 130px 0px 0px 27px;
  color: white;
}


#item-4 .hover-text{
  margin: 40px 0px 0px 27px;
  color: white;
  font-family: var(--lexend-deca);
  font-size: 14px;
}

#item-4 .hover-time{
  margin: 10px 10px 0px 27px;
  color: white;
  font-family: var(--lexend-deca);
  font-size: 14px;

}

#item-4 .hover-head,
#item-4 .hover-price,
#item-4 .hover-text,
#item-4 .hover-time {
  transition: all 0.3s ease; 
}

#item-4 .hover-head:hover{
  margin: 50px 0px 0px 27px;
}

#item-4 .hover-price:hover{
  margin: 60px 0px 0px 27px;
}
 

#item-4 .hover-text:hover{
  visibility: visible;
}

#item-4 .hover-time:hover{
 visibility: visible;

}

/* item 5 */

#item-5 .hover-head{
  margin: 150px 0px 0px 27px;
  color: white;
  font-family: var(--source-serif);
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
}

#item-5 .hover-price{
  background-color: #9FCD32;
  padding: 3px 20px 3px 20px ;
  margin: 130px 0px 0px 27px;
  color: white;
}


#item-5 .hover-text{
  margin: 40px 0px 0px 27px;
  color: white;
  font-family: var(--lexend-deca);
  font-size: 14px;
}

#item-5 .hover-time{
  margin: 10px 10px 0px 27px;
  color: white;
  font-family: var(--lexend-deca);
  font-size: 14px;

}

#item-5 .hover-head,
#item-5 .hover-price,
#item-5 .hover-text,
#item-5 .hover-time {
  transition: all 0.3s ease; 
}

#item-5 .hover-head:hover{
  margin: 50px 0px 0px 27px;
}

#item-5 .hover-price:hover{
  margin: 60px 0px 0px 27px;
}
 

#item-5 .hover-text:hover{
  visibility: visible;
}

#item-5 .hover-time:hover{
 visibility: visible;

}

/* item 6 */

#item-6 .hover-head{
  margin: 150px 0px 0px 27px;
  color: white;
  font-family: var(--source-serif);
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
}

#item-6 .hover-price{
  background-color: #9FCD32;
  padding: 3px 20px 3px 20px ;
  margin: 130px 0px 0px 27px;
  color: white;
}


#item-6 .hover-text{
  margin: 40px 0px 0px 27px;
  color: white;
  font-family: var(--lexend-deca);
  font-size: 14px;
}

#item-6 .hover-time{
  margin: 10px 10px 0px 27px;
  color: white;
  font-family: var(--lexend-deca);
  font-size: 14px;

}

#item-6 .hover-head,
#item-6 .hover-price,
#item-6 .hover-text,
#item-6 .hover-time {
  transition: all 0.3s ease; 
}

#item-6 .hover-head:hover{
  margin: 50px 0px 0px 27px;
}

#item-6 .hover-price:hover{
  margin: 60px 0px 0px 27px;
}
 

#item-6 .hover-text:hover{
  visibility: visible;
}

#item-6 .hover-time:hover{
 visibility: visible;

}

/* item 7 */

#item-7 .hover-head{
  margin: 150px 0px 0px 27px;
  color: white;
  font-family: var(--source-serif);
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
}

#item-7 .hover-price{
  background-color: #9FCD32;
  padding: 3px 20px 3px 20px ;
  margin: 130px 0px 0px 27px;
  color: white;
}


#item-7 .hover-text{
  margin: 40px 0px 0px 27px;
  color: white;
  font-family: var(--lexend-deca);
  font-size: 14px;
}

#item-7 .hover-time{
  margin: 10px 10px 0px 27px;
  color: white;
  font-family: var(--lexend-deca);
  font-size: 14px;

}

#item-7 .hover-head,
#item-7 .hover-price,
#item-7 .hover-text,
#item-7 .hover-time {
  transition: all 0.3s ease; 
}

#item-7 .hover-head:hover{
  margin: 50px 0px 0px 27px;
}

#item-7 .hover-price:hover{
  margin: 60px 0px 0px 27px;
}
 

#item-7 .hover-text:hover{
  visibility: visible;
}

#item-7 .hover-time:hover{
 visibility: visible;

}


/* gallery Hover effect ends */

#item-0 {
  color: white;
  background: url(../images/HomePage/travel-images/home-gal-1.jpg);
  background-position: center;
  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 3;
  grid-column-end: 2;
  
}
#item-1 {
  background: url(../images/HomePage/travel-images/home-gal-4.jpg);
  background-position: center;
  grid-row-start: 3;
  grid-column-start: 1;

  grid-row-end: 5;
  grid-column-end: 2;
  
}
#item-2 {

  background: url(../images/HomePage/travel-images/home-gal-6.jpg);
  background-position: center;
  grid-row-start: 5;
  grid-column-start: 1;

  grid-row-end: 7;
  grid-column-end: 2;
  
}
#item-3 {

  background: url(../images/HomePage/travel-images/home-gal-2.jpg);
  background-position: center;
  grid-row-start: 1;
  grid-column-start: 2;

  grid-row-end: 4;
  grid-column-end: 3;
  
}
#item-4 {

  background: url(../images/HomePage/travel-images/home-gal-7.jpg);
  background-position: center;
  grid-row-start: 4;
  grid-column-start: 2;

  grid-row-end: 7;
  grid-column-end: 3;
  
}
#item-5 {

  background: url(../images/HomePage/travel-images/home-gal-3.jpg);
  background-position: center;

  grid-row-start: 1;
  grid-column-start: 3;

  grid-row-end: 3;
  grid-column-end: 4;
  
}
#item-6 {
  background: url(../images/HomePage/travel-images/home-gal-5.jpg);
  background-position: center;
  grid-row-start: 3;
  grid-column-start: 3;

  grid-row-end: 5;
  grid-column-end: 4;
  
}
#item-7 {
  background: url(../images/HomePage/travel-images/home-gal-8.jpg);
  background-position: center;
  grid-row-start: 5;
  grid-column-start: 3;

  grid-row-end: 7;
  grid-column-end: 4;
  
}

.gallery img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}

/* Media Query for Gallery Section */

@media all and (max-width: 917px) {
  .gallery {
    display: grid;
    margin: 20px auto;
    grid-template-rows: repeat(4, 300px);
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    height: 190vh;
    width: 90vw;
  }

  .gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #item-0 {
    grid-row-start: 2;
    grid-column-start: 1;

    grid-row-end: 3;
    grid-column-end: 2;
  }
  #item-1 {
    grid-row-start: 1;
    grid-column-start: 1;

    grid-row-end: 2;
    grid-column-end: 2;
  }
  #item-2 {
    grid-row-start: 1;
    grid-column-start: 2;

    grid-row-end: 2;
    grid-column-end: 3;
  }
  #item-3 {
    grid-row-start: 2;
    grid-column-start: 2;

    grid-row-end: 3;
    grid-column-end: 3;
  }
  #item-4 {
    grid-row-start: 3;
    grid-column-start: 1;

    grid-row-end: 4;
    grid-column-end: 2;
  }
  #item-5 {
    grid-row-start: 3;
    grid-column-start: 2;

    grid-row-end: 4;
    grid-column-end: 3;
  }
  #item-6 {
    grid-row-start: 4;
    grid-column-start: 1;

    grid-row-end: 5;
    grid-column-end: 2;
  }
  #item-7 {
    grid-row-start: 4;
    grid-column-start: 2;

    grid-row-end: 5;
    grid-column-end: 3;
  }
}


/* Ecotour section */

.Ecotour {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.brief {
  position: relative;
  width: 100%;
  height: 1000px;
}

.brief-image {
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
  height: 900px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)),
    url("../images/HomePage/home-intro.jpg");
  background-size: cover;
  object-fit: cover;
}

.brief .content h1 {
  font-family: var(--source-serif);
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  line-height: 48px;
  font-style: normal;
}

.brief .Ecotour .Ecotour-icons {
  font-size: 50px;
  font-weight: 900;
  line-height: 50px;
  font-style: normal;
}

.brief .content {
  text-align: center;
  margin: 0px 100px 0px 100px;
  position: relative;
  z-index: +1;
  padding: 20px;
  color: white;
  top: 50%;
}

.brief .content .Ecotour-icon {
  z-index: -5;
}

.brief .content .Ecotour {
  backdrop-filter: blur(80px);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.brief .content .Ecotour .Ecotour-icon p {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  font-style: normal;
}

/* Media Query for Ecotour section */

@media all and (max-width: 680px) {
  .brief-image {
    height: 120vh;
  }

  .brief .content {
    text-align: center;
  }

  .brief .content h1 {
    font-size: 25px;
    font-weight: 500;
    line-height: 40px;
    white-space: nowrap;
    text-align: center;
  }

  .brief .content .Ecotour .Ecotour-icon p {
    font-size: 12px;
    margin-right: 10px;
    text-align: center;
  }

  .Ecotour {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .brief .Ecotour .Ecotour-icons {
    font-size: 40px;
  }

  .brief .content .Ecotour {
    backdrop-filter: blur(80px);
  }

  .brief .content {
    position: relative;
    z-index: +1;
    padding: 20px;
    top: 20%;
    color: white;
  }
}

@media all and (max-width: 500px) {
  .brief-image {
    height: 120vh;
  }
}

/* opinion section */

.opinion {
  margin: 150px;
}

.user-photo img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 8px 0 lightgray;
}

.user-review {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.opinion-button {
  background: #9fcd32;
  outline: none;
  border: none;
  font-size: 0.8rem;
  font-weight: 500;
  margin-top: 38px;
  padding: 15px 30px;
  border-radius: 0px;
  cursor: pointer;
  color: white;
  font-weight: 900;
  transition: 0.5s;
  white-space: nowrap;
}

.one-opinion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
}

.opinion-button:hover {
  background-color: #577909;
}

.opinion-para {
  font-family: var(--lexend-deca);
  font-weight: 600;
  line-height: 22px;
  font-size: 14px;
  white-space: nowrap;
}

.opinion-para2 {
  font-family: var(--lexend-deca);
  font-weight: 300;
  line-height: 22px;
  font-size: 14px;
  white-space: nowrap;
}

.all-opinion {
  margin-top: -50px;
}

.all-opinion h1 {
  font-family: var(--source-serif);
  font-weight: 500;
  line-height: 48px;
  font-size: 30px;
  white-space: nowrap;
}

.opinion .one-opinion .user-review i {
  margin-right: 20px;
}

/* Media Query for Opinion section */

@media all and (max-width: 900px) {
  .opinion-para2 {
    line-height: 19px;
    font-size: 12px;
  }

  .all-opinion {
    margin-left: 50px;
  }

  .user-review .fa-solid,
  .user-review .fa-quote-right {
    font-size: 32px;
  }

  .user-photo img {
    margin-left: 50px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0 8px 0 lightgray;
  }
}

@media all and (max-width: 600px) {
  .user-review {
    margin-bottom: 50px;
  }

  .one-opinion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: left;
    margin-top: 20px;
    width: 100%;
  }

  .all-opinion h1 {
    line-height: 41px;
    font-size: 25px;
  }

  .opinion-button {
    font-size: 11px;
    line-height: 18px;
  }

  
.opinion-para {
  line-height: 19px;
  font-size: 12px;
}

.opinion-para2 {
  line-height: 19px;
  font-size: 12px;
}

.opinion{
  margin-top: 0px;
}

}

/* Date-Section */

.Date-section {
  background-color: #9fcd32;
  color: white;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.booking {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.Date-section .booking h1 {
  font-family: var(--source-serif);
  font-size: 30px;
  font-weight: 500;
  line-height: 48px;
  font-style: normal;
}

.Date-section .booking h1 span {
  font-family: var(--source-serif);
  font-size: 30px;
  font-weight: 500;
  line-height: 45px;
  font-style: normal;
  color: rgb(65, 119, 3);
  white-space: nowrap;
}

.Date-section .booking h1 .Date-icon {
  color: rgb(255, 255, 255);
  font-family: var(--lexend-deca);
  font-size: 45px;
  font-weight: 500;
  line-height: 13px;
  font-style: normal;
}

.Date-section .booking .Date-Button button {
  border: none;
  font-family: var(--lexend-deca);
  font-size: 13px;
  font-weight: 700;
  line-height: 21px;
  background-color: #fff;
  font-style: normal;
  color: #000000;
  padding: 15px 35px 15px 35px;
}

.Date-section .booking .Date-Details {
  margin-right: 100px;
}

/* Media Query for date section */

@media all and (max-width: 627px) {
  .booking {
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .Date-section .booking h1 {
    text-align: center;
    font-size: 25px;
    line-height: 41px;
  }

  .Date-section .booking h1 .head-span {
    margin-right: -70px;
    font-size: 25px;
    line-height: 38px;
  }

  .Date-section .booking h1 span {
    margin-bottom: 20px;
  }

  .Date-section .booking .Date-Button button {
    margin-top: 10px;
  }

  .Date-section .booking h1 .Date-icon {
    font-size: 34px;
  }
}

/* footer Section */

.footer {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  background-color: #417703;
}

.footer .footer-head {
  color: #9fcd32;
  font-weight: 700;
}

.footer1 img {
  width: 200px;
}

.footer1 {
  font-family: var(--lexend-deca);
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: #fff;
  font-style: normal;
  text-align: center;
  margin: 50px;
}

.footer p {
  padding: 10px;
}

.footer2 {
  font-family: var(--lexend-deca);
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: #fff;
  font-style: normal;
  margin: 50px;
}

.footer3 {
  font-family: var(--lexend-deca);
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: #fff;
  font-style: normal;
  margin: 50px;
}

.footer4 {
  font-family: var(--lexend-deca);
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: #fff;
  font-style: normal;
  margin: 50px;
}

.footer5 {
  font-family: var(--lexend-deca);
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: #fff;
  font-style: normal;
  margin: 50px;
}

.footer5 a {
  color: white;
  margin: 8px;
}

.footer1 img {
  font-size: 14px;
}

/*  ----------------------------------------click to top------------------------------------------ */

.top {
  position: fixed;
  bottom: 0;
  right: 0px;
  padding: 5px;
  margin: 10px;
  background-color: #618c2f;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 2px 5px -1px;
  display: none;
  z-index: +99;
}

.top:hover {
  background-color: white;
  border: 1px solid black;
}

.top.Topactive {
  display: block;
}

.top a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.top a:hover {
  color: #417703;
  font-weight: 600;
}
