@import url(https://db.onlinewebfonts.com/c/115792e2e8292773cdb8dd0ab76459f2?family=Font+Awesome+6+Free+Solid);
@import url(https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Montserrat&family=Open+Sans:wght@500&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-size: cover;
  scroll-behavior: smooth;
}

body {
  font-family: var(--lexend-deca);
  font-size: 1.4rem;
  line-height: 1.6;
  font-weight: 300;
}

img {
  object-fit: cover;
}

:root {
  --lexend-deca: "Lexend Deca", sans-serif;
  --source-serif: "Source Serif 4", serif;
  font-weight: 500;
  font-style: normal;
}

/* menu bar cp */

.header {
  padding: 1.3rem 0;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-items: center;
}

.hamburger {
  cursor: pointer;
}

.ham-one,
.ham-two,
.ham-three {
  display: block;
  width: 30px;
  height: 4px;
  background-color: #000;
}

.ham-one:not(:last-child),
.ham-two:not(:last-child),
.hamb-three:not(:last-child) {
  margin-bottom: 0.4rem;
}

/* Media Query for header section */

@media only screen and (max-width: 600px) {
  .header {
    grid-template-columns: 3.5rem 20rem;
    row-gap: 2rem;
    justify-content: space-around;
  }

  .header-nav {
    grid-area: 1/1/2/2;
  }

  .header__logo {
    grid-area: 2/1/3/3;
    height: 3rem;
  }

  .header__btn {
    grid-area: 1/2/2/3;
  }
}

@media only screen and (max-width: 350px) {
  .header__logo {
    height: 4rem;
  }
}

/* menu bar ends */

#logo-size {
  padding: 2px;
  font-size: 13px;
  line-height: 21px;
  color: rgb(0, 0, 0);
}

.get-in-touch {
  font-weight: 700;
  font-size: 13px;
  line-height: 21px;
  border-bottom: none;
  color: #000;
  text-transform: uppercase;
}

header a {
  text-decoration: none;
  border: 1px solid #9fcd32;
  padding: 2px 30px 2px 30px;
}

/* nav section */
.nav {
  background-color: #9fcd32;
  width: 300px;
  height: 200vh;
  top: 0px;
  position: fixed;
  z-index: +25;
  display: none;
}
.close {
  position: absolute;
  right: 0;
  color: rgb(255, 255, 255);
  font-family: var(--lexend-deca);
  background-color: rgb(214, 19, 19);
  font-size: 16px;
  padding: 12px;
  line-height: 16px;
  font-weight: 500;
  font-style: normal;
  cursor: pointer;
}

.nav-list {
  margin-top: 50px;
  padding: 0px;
  list-style: none;
  text-align: center;
  display: block;
  line-height: 70px;
}

.nav-list li a {
  text-decoration: none;
  color: #fff;
  font-family: var(--lexend-deca);
  font-weight: 500;
  font-size: 16px;
}

.nav-list li:hover {
  background-color: #668d09;
  width: 100%;
  padding: 0;
}

.nav-list li:hover a {
  color: #fff;
}

.active {
  display: block;
}

/* active navbar bg color */

.nav-list a:is(:link, :active, :visited).activebg {
  display: block;
  background-color: #577909;
  width: 100%;
  padding: 0;
}
  

/* Banner Section */

.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),
    url("../images/TourList/tourlist-banner.jpg");
  height: 100vh;
  display: flex;
  align-items: center;
  object-fit: cover;
  background-size: cover;
  padding: 0 100px;
}

.banner .content h3 {
  color: white;
  font-weight: 300;
  line-height: 48px;
  font-family: var(--lexend-deca);
  size: 30px;
}

.banner .content .head1 {
  color: white;
  font-family: var(--source-serif);
  font-size: 55px;
  line-height: 88px;
}

.banner .content .banner-btn {
  background: #9fcd32;
  outline: none;
  border: none;
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: 38px;
  padding: 15px 20px;
  border-radius: 0px;
  cursor: pointer;
  color: white;
  font-weight: 800;
  transition: 0.5s;
}

.banner .content .banner-btn:hover {
  background-color: #8bbb1b;
}

.banner .content button:hover {
  background-color: #545e3c;
}

/* Media Query for Banner content */

@media (max-width: 913px) {
  .banner {
    height: 60vh;
    object-fit: cover;
    padding: 0 50px;
  }
  .banner .content h3 {
    font-size: 19px;
    line-height: 30px;
  }
  .banner .content .head1 {
    font-size: 37px;
    line-height: 59px;
  }

  .banner .content .banner-btn {
    font-size: 12px;
    line-height: 19px;
    padding: 10px 20px;
  }
}

@media all and (max-width: 617px) {
  .banner .content {
    padding: 10px 60px;
    text-align: center;
    font-size: 34px;
    line-height: 54px;
  }

  .banner .content h3 {
    margin-top: 50px;
    font-size: 17px;
    line-height: 27px;
  }

  .banner .content .head1,
  .banner .content .head2 {
    font-size: 28px;
    line-height: 54px;
  }

  .banner .content .banner-btn {
    margin-top: 20px;
  }
}

/* Media Query for Banner content Ends*/

/* Tour-list */

.Tour-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.Tour-info h1 {
  font-family: var(--source-serif);
  font-style: normal;
  font-size: 30px;
  line-height: 48px;
  font-weight: 500;
  margin: 80px 0px 20px 0px;
}

.Tour-info b {
  font-family: var(--lexend-deca);
  font-style: normal;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  width: 70%;
  margin: 0px 0px 20px 0px;
}

.Tour-info h1 {
  font-size: 26px;
  line-height: 41px;
}

.Tour-info p {
  font-family: var(--lexend-deca);
  font-style: normal;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  width: 70%;
}

/* Media Query for Tour info section */

@media all and (max-width: 600px) {
  .Tour-info b {
    font-size: 12px;
    line-height: 19px;
  }

  .Tour-info p {
    font-size: 12px;
    line-height: 19px;
  }
}

/* Travel-icons Section */

.Tour-icons {
  padding: 100px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  margin: 50px 0px 0px 0px;
  border-radius: 50%;
  flex-wrap: wrap;
  gap: 20px;
}

.Tour-icons .icon-Text {
  font-family: var(--lexend-deca);
  font-size: 14px;
  /* height: 150px;
  width: 200px;
  background-color: #577909; */
}

.Tour-icons .Tour-icon .trip-icon {
  margin: 20px 0px 0px 0px;
  background-color: rgba(180, 250, 17, 0.4);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  font-size: 55px;
  text-align: center;
  padding: 10%;
  color: #000000;
}

.card-section .icon-Text .Tour-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #d4d4d4;
  width: 200px;
  height: 200px;
}

.card-section .icon-Text .BGgreen {
  background-color: rgb(13, 63, 1);
  color: white;
}

.icon-Text  {
  background-color: #417703;
  width: 200px;
  height: 200px;
  color: #000000;
}

.card-section .icon-Text .Tour-icon:hover {
  background-color: yellowgreen;
}

.Tour-icons .Tour-icon .trip-icon:hover {
  background-color: transparent;
}

/* Media Query for tour icons section */

@media all and (max-width: 1097px) {
  .Tour-icons .icon-Text p {
    font-size: 12px;
    text-align: center;
  }

  .Tour-icons .Tour-icon .trip-icon {
    width: 80px;
    height: 80px;
    font-size: 45px;
    padding: 10%;
  }

  .card-section .icon-Text .Tour-icon {
    width: 150px;
    height: 150px;
  }

  .tourlist-cards .Tour-icons .icon-Text .BGgreen {
    width: 150px;
    height: 150px;
  }
}

@media all and (max-width: 1097px) {
  .Tour-icons .icon-Text {
    font-size: 10px;
  }

  .Tour-icons .Tour-icon .trip-icon {
    width: 60px;
    height: 60px;
    font-size: 30px;
    padding: 12%;
  }

  .card-section .icon-Text .Tour-icon {
    width: 100px;
    height: 100px;
  }

  .card-section .icon-Text {
    width: 100px;
    height: 100px;
  }
}

/* Tour Cards Section */

.card-section {
  background-color: rgb(204, 204, 204);
}

.cards {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: start;
  justify-content: center;
  margin: 50px 50px 100px 50px;
}


.card-left img {
  width: 350px;
  height: 70vh;
  background-position: center;
}

.card-right{
  min-height: auto;
}

.card-right h1 {
  font-family: var(--source-serif);
  font-style: normal;
  font-size: 30px;
  line-height: 48px;
  font-weight: 500;
}

.card-right p {
  font-family: var(--lexend-deca);
  font-style: normal;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
}

.card-right .para-list {
  font-family: var(--lexend-deca);
  font-style: normal;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  margin: 40px 50px;
  text-align: left;
}


.card-right .card-icons .right-icons .dollar {
  background-color: #9fcd32;
  font-size: 20px;
  height: 40px;
  color: #fff;
  width: 40px;
  padding: 3px;
  margin: 3px;
}

.card-right .card-icons .right-icons p{
  font-size: 12px;
  color: #636363;
  font-weight: 300;
}

.card-right .card-icons .left-icons b{
  font-size: 12px;
}


.card-right .card-icons .right-icons b{
  font-size: 12px;
}

.card-icons {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.bottom-left-icons .spaicon {
  font-size: 12px;
  color: #252721;
  margin-left: 44px;
}

.bottom-right-icons{
  font-size: 12px;
  color: #252721;
  margin-left: 70px;
  color: #417703;
  margin-right: 3rem;
  padding: 10px;
}

.bottom-right-icons i{
 margin-right: 0.2rem;
}


.bottom-left-icons span {
  font-size: 12px;
  color: #4c6611;
  margin-right: 0px;
}

.bottom-icon .booking-button .booking{
  display: none;
}

.cards:hover .bottom-icon .booking-button{
  margin: 0 30px;
}

.cards:hover .bottom-icon .booking-button .booking{
  display: block;
  margin: 0;
}

.cards:hover .bottom-right-icons{
  display: none;
} 

.card-right .extra-paragraph {
  font-family: var(--lexend-deca);
  display: none;
  font-style: normal;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  margin: 20px 50px;
  transition: opacity 0.5s;
  text-align: left;
}

/* .card-right .para-line{
  border-left: 1px solid #c5bfbf;
  height: 3rem;
} */

.cards:hover .extra-paragraph {
  display: block;
}

.cards:hover{
  box-shadow: -45px -13px 288px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: -45px -13px 288px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -45px -13px 288px 0px rgba(0,0,0,0.75);
}


.tourlist-cards__info-box {
  font-size: 14px;
  display: none;
  padding: 3rem;
  background-color: #eeeeee;
}

.tourlist-cards__info-box--inner {
  margin-top: 1.2rem;
  list-style: none
}

.tourlist-cards__info-item {
  padding: 0.5rem 0
}

.tourlist-cards__info-item:not(:last-child) {
  border-bottom: 2px solid darkgrey
}

.cards:hover .tourlist-cards__info-box {
  display: block;
}

.bottom-right-icons i .fa-regular .fa-circle-question .color-prim{
  font-size: 14px;
}

.bottom-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.booking-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
  padding: 50px 0px 50px 0px;
}

.booking {
  background: #9fcd32;
  outline: none;
  border: none;
  font-size: 0.8rem;
  font-weight: 500;
  margin-top: 38px;
  padding: 12px 30px;
  border-radius: 0px;
  cursor: pointer;
  color: white;
  font-weight: 900;
  transition: 0.5s;
}


@media all and (max-width: 1000px) {
   .cards{
    flex-direction: column;
   }

   .card-right .para-list {
    font-size: 12px;
    line-height: 19px;
    margin: 20px 100px;
    text-align: center;
}

   .card-right .extra-paragraph {
    font-family: var(--lexend-deca);
    display: none;
    font-style: normal;
    font-size: 12px;
    line-height: 19px;
    font-weight: 300;
    margin: 20px 100px;
    transition: opacity 0.5s;
    text-align: center;
  }

   
.card-left img {
  margin-top: 20px;
  width: 85vw;
  height: 400px;
  background-position: center;
}

.card-icons {
  margin: 50px 50px;
  font-size: 15px;
}

.card-icons .left-icons h1,p,b{
  font-size: 15px;
}

.bottom-icon{
  flex-direction: column;
}

}

@media all and (max-width: 900px) {
  .card-right .para-list {
    margin: 20px 20px;
    text-align: center;
}

.card-right .extra-paragraph {
  margin: 20px 20px;
}

}

@media all and (max-width: 800px) {
  .cards{
   flex-direction: column;
  }
  
.card-left img {
  margin-top: 0;
 width: 85vw;
 height: 400px;
 background-position: center;
}

.card-icons {
  margin: 50px 50px;
  font-size: 15px;
}

.card-icons .left-icons h1,p,b{
  font-size: 11px;
}
}

@media all and (max-width: 700px) {

.card-left img {
  margin-top: 0;
 width: 78vw;
 height: 400px;
 background-position: center;
}

}

.gallery {
  display: grid; 
  margin: 20px auto;
  grid-template-rows: 300px;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
  height:auto;
  width:90vw;
   
}


@media all and (max-width: 600px) {
  .card-icons{
    flex-direction: column;
  }

  .card-icons .card-right{
    margin-top: 50px;
  }

}
 
.gallery img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}      

/* Gallery Hover Effects Starts */

/* item 0 */

#item-0 .hover-head{
  margin: 150px 0px 0px 27px;
  color: white;
  font-family: var(--source-serif);
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
}

#item-0 .hover-price{
  background-color: #9FCD32;
  padding: 3px 20px 3px 20px ;
  margin: 130px 0px 0px 27px;
  color: white;
}


#item-0 .hover-text{
  margin: 40px 0px 0px 27px;
  color: white;
  font-family: var(--lexend-deca);
  font-size: 14px;
}

#item-0 .hover-time{
  margin: 10px 10px 0px 27px;
  color: white;
  font-family: var(--lexend-deca);
  font-size: 14px;

}

#item-0 .hover-head,
#item-0 .hover-price,
#item-0 .hover-text,
#item-0 .hover-time {
  transition: all 0.3s ease; 
}


.image-item {
    position: relative;
    overflow: hidden
}

#item-0 {
    width: 100%;
    height: 100%;
    filter: brightness(75%);
    transition: filter 0.3s
}

.image-caption {
    width: 80%;
    position: absolute;
    left: 4rem;
    bottom: 4rem;
    color: #fff;
    line-height: 1.2;
    overflow: hidden;
    transition: all 0.3s
}

.image-caption .hover-head{
    margin-bottom: 1.2rem
}

.image-item .small-text {
    position: absolute;
    left: 0;
    bottom: -10rem;
    transition: all 0.3s
}

.small-text .hover-text {
    margin-bottom: 1.2rem
}

.image-item:hover .image-caption {
    padding-bottom: 7rem
}

.image-item:hover .small-text {
    bottom: 0
}

.image-item:hover img{
    filter: brightness(40%)
}

#item-0 {
    width: 100%;
    height: 100%;
    filter: brightness(75%);
    transition: filter 0.3s
}

.image-item:hover #item-0{
  filter: brightness(40%)
}

@media only screen and (max-width: 1200px) {
    .image-caption {
        left:1.5rem;
        bottom: 1.5rem
    }
}

@media only screen and (max-width: 600px) {
    .image-item:hover .image-caption {
        padding-bottom:5rem
    }

    .image-item:hover .small-text {
        bottom: 0
    }

    .hover-head {
        font-size: 2.5rem
    }
}

/* item 1 */

#item-1 .hover-head{
  margin: 150px 0px 0px 27px;
  color: white;
  font-family: var(--source-serif);
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
}

#item-1 .hover-price{
  background-color: #9FCD32;
  padding: 3px 20px 3px 20px ;
  margin: 130px 0px 0px 27px;
  color: white;
}


#item-1 .hover-text{
  margin: 40px 0px 0px 27px;
  color: white;
  font-family: var(--lexend-deca);
  font-size: 14px;
}

#item-1 .hover-time{
  margin: 10px 10px 0px 27px;
  color: white;
  font-family: var(--lexend-deca);
  font-size: 14px;

}

#item-1 .hover-head,
#item-1 .hover-price,
#item-1 .hover-text,
#item-1 .hover-time {
  transition: all 0.3s ease; 
}


/* item 2 */

#item-2 .hover-head{
  margin: 150px 0px 0px 27px;
  color: white;
  font-family: var(--source-serif);
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
}

#item-2 .hover-price{
  background-color: #9FCD32;
  padding: 3px 20px 3px 20px ;
  margin: 130px 0px 0px 27px;
  color: white;
}


#item-2 .hover-text{
  margin: 40px 0px 0px 27px;
  color: white;
  font-family: var(--lexend-deca);
  font-size: 14px;
}

#item-2 .hover-time{
  margin: 10px 10px 0px 27px;
  color: white;
  font-family: var(--lexend-deca);
  font-size: 14px;

}

#item-2 .hover-head,
#item-2 .hover-price,
#item-2 .hover-text,
#item-2 .hover-time {
  transition: all 0.3s ease; 
}


/* gallery Hover effect ends */

  
#item-0 {
   grid-row-start: 1;
   grid-column-start: 1;

   grid-row-end: 2;
   grid-column-end: 2;
   
}
#item-1 {

   grid-row-start: 1;
   grid-column-start: 2;

   grid-row-end: 2;
   grid-column-end: 3;
   
}
#item-2 {
   grid-row-start: 1;
   grid-column-start: 3;

   grid-row-end: 2;
   grid-column-end: 4;
   
}

/* Media Query for Gallery Section */

@media all and (max-width: 917px) {

.gallery {
   display: grid; 

   grid-template-rows: repeat(3,200px);
   margin: 20px auto;
   grid-template-columns: 90vw;
   
   gap: 0px;
   height: 100%;
   
}
  
#item-0 {

   grid-row-start: 1;
   grid-column-start: 1;

   grid-row-end: 2;
   grid-column-end: 2;
   
}
#item-1 {
   grid-row-start: 2;
   grid-column-start: 1;

   grid-row-end: 3;
   grid-column-end: 2;
   
}
#item-2 {
   grid-row-start: 3;
   grid-column-start: 1;

   grid-row-end: 4;
   grid-column-end: 2;
   
}

  .gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

}

/* footer Section */

.footer {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  background-color: #417703;
}

.footer .footer-head {
  color: #9fcd32;
  font-weight: 700;
}

.footer1 img {
  width: 200px;
}

.footer1 {
  font-family: var(--lexend-deca);
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: #fff;
  font-style: normal;
  text-align: center;
  margin: 50px;
}

.footer p {
  padding: 10px;
}

.footer2 {
  font-family: var(--lexend-deca);
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: #fff;
  font-style: normal;
  margin: 50px;
}

.footer3 {
  font-family: var(--lexend-deca);
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: #fff;
  font-style: normal;
  margin: 50px;
}

.footer4 {
  font-family: var(--lexend-deca);
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: #fff;
  font-style: normal;
  margin: 50px;
}

.footer5 {
  font-family: var(--lexend-deca);
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: #fff;
  font-style: normal;
  margin: 50px;
}

.footer5 a {
  color: white;
  margin: 8px;
}

.footer1 img {
  font-size: 14px;
}

/*  ----------------------------------------click to top------------------------------------------ */

.top {
  position: fixed;
  bottom: 0;
  right: 0px;
  padding: 5px;
  margin: 10px;
  background-color: #618c2f;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 2px 5px -1px;
  display: none;
  z-index: +99;
}

.top:hover {
  background-color: white;
  border: 1px solid black;
}

.top.Topactive {
  display: block;
}

.top a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.top a:hover {
  color: #417703;
  font-weight: 600;
}
