@import url(https://db.onlinewebfonts.com/c/115792e2e8292773cdb8dd0ab76459f2?family=Font+Awesome+6+Free+Solid);
@import url(https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Montserrat&family=Open+Sans:wght@500&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-size: cover;
  scroll-behavior: smooth;
}

body {
  font-family: var(--lexend-deca);
  font-size: 1.4rem;
  line-height: 1.6;
  font-weight: 300;
}

img {
  object-fit: cover;
}

:root {
  --lexend-deca: "Lexend Deca", sans-serif;
  --source-serif: "Source Serif 4", serif;
  font-weight: 500;
  font-style: normal;
}

/* menu bar cp */

.header {
  padding: 1.3rem 0;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-items: center;
}

.hamburger {
  cursor: pointer;
}

.ham-one,
.ham-two,
.ham-three {
  display: block;
  width: 30px;
  height: 4px;
  background-color: #000;
}

.ham-one:not(:last-child),
.ham-two:not(:last-child),
.hamb-three:not(:last-child) {
  margin-bottom: 0.4rem;
}

/* Media Query for header section */

@media only screen and (max-width: 600px) {
  .header {
    grid-template-columns: 3.5rem 20rem;
    row-gap: 2rem;
    justify-content: space-around;
  }

  .header-nav {
    grid-area: 1/1/2/2;
  }

  .header__logo {
    grid-area: 2/1/3/3;
    height: 3rem;
  }

  .header__btn {
    grid-area: 1/2/2/3;
  }
}

@media only screen and (max-width: 350px) {
  .header__logo {
    height: 4rem;
  }
}

/* menu bar ends */

#logo-size {
  padding: 2px;
  font-size: 13px;
  line-height: 21px;
  color: rgb(0, 0, 0);
}

.get-in-touch {
  font-weight: 700;
  font-size: 13px;
  line-height: 21px;
  border-bottom: none;
  color: #000;
  text-transform: uppercase;
}

header a {
  text-decoration: none;
  border: 1px solid #9fcd32;
  padding: 2px 30px 2px 30px;
}

/* nav section */
.nav {
  background-color: #9fcd32;
  width: 300px;
  height: 200vh;
  top: 0px;
  position: fixed;
  z-index: +25;
  display: none;
}
.close {
  position: absolute;
  right: 0;
  color: rgb(255, 255, 255);
  font-family: var(--lexend-deca);
  background-color: rgb(214, 19, 19);
  font-size: 16px;
  padding: 12px;
  line-height: 16px;
  font-weight: 500;
  font-style: normal;
  cursor: pointer;
}

.nav-list {
  margin-top: 50px;
  padding: 0px;
  list-style: none;
  text-align: center;
  display: block;
  line-height: 70px;
}

.nav-list li a {
  text-decoration: none;
  color: #fff;
  font-family: var(--lexend-deca);
  font-weight: 500;
  font-size: 16px;
}

.nav-list li:hover {
  background-color: #668d09;
  width: 100%;
  padding: 0;
}

.nav-list li:hover a {
  color: #fff;
}

.active {
  display: block;
}

/* active navbar bg color */

.nav-list a:is(:link, :active, :visited).activebg {
  display: block;
  background-color: #577909;
  width: 100%;
  padding: 0;
}
  

/* Banner Section */

.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),
    url("../images/TourList/tourlist-banner.jpg");
  height: 100vh;
  display: flex;
  align-items: center;
  object-fit: cover;
  background-size: cover;
  padding: 0 100px;
}

.banner .content h3 {
  color: white;
  font-weight: 300;
  line-height: 48px;
  font-family: var(--lexend-deca);
  size: 30px;
}

.banner .content .head1 {
  color: white;
  font-family: var(--source-serif);
  font-size: 55px;
  line-height: 88px;
}

.banner .content .banner-btn {
  background: #9fcd32;
  outline: none;
  border: none;
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: 38px;
  padding: 15px 20px;
  border-radius: 0px;
  cursor: pointer;
  color: white;
  font-weight: 800;
  transition: 0.5s;
}

.banner .content .banner-btn:hover {
  background-color: #8bbb1b;
}

.banner .content button:hover {
  background-color: #545e3c;
}

/* Media Query for Banner content */

@media (max-width: 913px) {
  .banner {
    height: 60vh;
    object-fit: cover;
    padding: 0 50px;
  }
  .banner .content h3 {
    font-size: 19px;
    line-height: 30px;
  }
  .banner .content .head1 {
    font-size: 37px;
    line-height: 59px;
  }

  .banner .content .banner-btn {
    font-size: 12px;
    line-height: 19px;
    padding: 10px 20px;
  }
}

@media all and (max-width: 617px) {
  .banner .content {
    padding: 10px 60px;
    text-align: center;
    font-size: 34px;
    line-height: 54px;
  }

  .banner .content h3 {
    margin-top: 50px;
    font-size: 17px;
    line-height: 27px;
  }

  .banner .content .head1,
  .banner .content .head2 {
    font-size: 28px;
    line-height: 54px;
  }

  .banner .content .banner-btn {
    margin-top: 20px;
  }
}

/* Media Query for Banner content Ends*/

/* Tour-list */

.Tour-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.Tour-info h1 {
  font-family: var(--source-serif);
  font-style: normal;
  font-size: 30px;
  line-height: 48px;
  font-weight: 500;
  margin: 80px 0px 20px 0px;
}

.Tour-info b {
  font-family: var(--lexend-deca);
  font-style: normal;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  width: 70%;
  margin: 0px 0px 20px 0px;
}

.Tour-info h1 {
  font-size: 26px;
  line-height: 41px;
}

.Tour-info p {
  font-family: var(--lexend-deca);
  font-style: normal;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  width: 70%;
}

/* Media Query for Tour info section */

@media all and (max-width: 600px) {
  .Tour-info b {
    font-size: 12px;
    line-height: 19px;
  }

  .Tour-info p {
    font-size: 12px;
    line-height: 19px;
  }
}

/* Travel-icons Section */

.Tour-icons {
  padding: 100px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  margin: 50px 0px 0px 0px;
  border-radius: 50%;
  flex-wrap: wrap;
  gap: 20px;
}

.Tour-icons .icon-Text {
  font-family: var(--lexend-deca);
  font-size: 14px;
  /* height: 150px;
  width: 200px;
  background-color: #577909; */
}

.Tour-icons .Tour-icon .trip-icon {
  margin: 20px 0px 0px 0px;
  background-color: rgba(180, 250, 17, 0.4);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  font-size: 55px;
  text-align: center;
  padding: 10%;
  color: #000000;
}

.card-section .icon-Text .Tour-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #d4d4d4;
  width: 200px;
  height: 200px;
}

.card-section .icon-Text .BGgreen {
  background-color: #417703;
  width: 200px;
  height: 200px;
  color: #fff;
}

.card-section .icon-Text .Tour-icon:hover {
  background-color: yellowgreen;
}

.Tour-icons .Tour-icon .trip-icon:hover {
  background-color: transparent;
}

/* Media Query for tour icons section */

@media all and (max-width: 1097px) {
  .Tour-icons .icon-Text {
    font-size: 12px;
  }

  .Tour-icons .Tour-icon .trip-icon {
    width: 80px;
    height: 80px;
    font-size: 45px;
    padding: 10%;
  }

  .card-section .icon-Text .Tour-icon {
    width: 150px;
    height: 150px;
  }

  .card-section .icon-Text .BGgreen {
    width: 150px;
    height: 150px;
  }
}

@media all and (max-width: 1097px) {
  .Tour-icons .icon-Text {
    font-size: 10px;
  }

  .Tour-icons .Tour-icon .trip-icon {
    width: 60px;
    height: 60px;
    font-size: 30px;
    padding: 12%;
  }

  .card-section .icon-Text .Tour-icon {
    width: 100px;
    height: 100px;
  }

  .card-section .icon-Text .BGgreen {
    width: 100px;
    height: 100px;
  }
}

/* Tour Cards Section */

.card-section {
  background-color: rgb(204, 204, 204);
}

.cards {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 50px 100px 50px;
}

.card-left img {
  width: 350px;
  height: 400px;
  background-position: center;
}

.card-right h1 {
  font-family: var(--source-serif);
  font-style: normal;
  font-size: 30px;
  line-height: 48px;
  font-weight: 500;
}

.card-right p {
  font-family: var(--lexend-deca);
  font-style: normal;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
}

.card-right .para-list {
  font-family: var(--lexend-deca);
  font-style: normal;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  margin: 100px 100px;
}


.card-right .card-icons .right-icons .dollar {
  background-color: #9fcd32;
  font-size: 20px;
  height: 40px;
  color: #fff;
  width: 40px;
  padding: 3px;
  margin: 3px;
}

.card-icons {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.bottom-left-icons .spaicon {
  font-size: 15px;
  color: #252721;
  margin-left: 70px;
}

.bottom-right-icons{
  font-size: 15px;
  color: #252721;
  margin-left: 70px;
  color: #417703;
  margin: 20px;
  padding: 10px;
}

.bottom-left-icons span {
  font-size: 15px;
  color: #4c6611;
  margin-right: 20px;
}

.card-right .extra-paragraph {
  font-family: var(--lexend-deca);
 display: none;
  font-style: normal;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  margin: 50px 100px;
  transition: opacity 0.5s;
}

.card-right:hover .extra-paragraph {
  display: block;
}

.cards:hover{
  box-shadow: -45px -13px 288px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: -45px -13px 288px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -45px -13px 288px 0px rgba(0,0,0,0.75);
}


.bottom-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.booking-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
  padding: 50px 0px 50px 0px;
}

.booking {
  background: #9fcd32;
  outline: none;
  border: none;
  font-size: 0.8rem;
  font-weight: 500;
  margin-top: 38px;
  padding: 12px 30px;
  border-radius: 0px;
  cursor: pointer;
  color: white;
  font-weight: 900;
  transition: 0.5s;
}

@media all and (max-width: 1000px) {
   .cards{
    flex-direction: column;
   }

   
.card-left img {
  margin-top: 20px;
  width: 85vw;
  height: 400px;
  background-position: center;
}

.card-icons {
  margin: 50px 50px;
  font-size: 15px;
}

.card-icons .left-icons h1,p,b{
  font-size: 15px;
}


}

@media all and (max-width: 800px) {
  .cards{
   flex-direction: column;
  }

  
.card-left img {
 margin-top: 20px;
 width: 75vw;
 height: 400px;
 background-position: center;
}

.card-icons {
  margin: 50px 50px;
  font-size: 15px;
}

.card-icons .left-icons h1,p,b{
  font-size: 15px;
}



}



/* Gallery section */

.tour-gallery {
  margin: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.tour-image1 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),
    url("../images/TourList/home-gal-8.jpg");
  width: 350px;
  height: 300px;
  background-position: center;
}

.tour-image2 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),
    url("../images/TourList/home-gal-6.jpg");
  width: 350px;
  height: 300px;
  background-position: center;
  transition: 1s;
}

.tour-image3 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),
    url("../images/TourList/home-gal-5.jpg");
  width: 350px;
  height: 300px;
  background-position: center;
}

.tour-gallery .tour-image1,
.tour-image2,
.tour-image3 {
  color: #fff;
  background-color: #9fcd32;
  font-family: var(--source-serif);
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  font-style: normal;
}

.tour-gallery .tour-image1 h1,
.tour-image2 h1,
.tour-image3 h1 {
  font-family: var(--source-serif);
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  font-style: normal;
  margin: 200px 10px 10px 10px;
  transition: 1s ease;
  /* margin: 100px 10px 10px 10px; */
}

.tour-gallery .tour-image1 span,
.tour-image2 span,
.tour-image3 span {
  background-color: #9fcd32;
  margin-left: 20px;
  padding: 3px 15px 3px 15px;
  font-size: 20px;
}

.tour-gallery .tour-image1 i,
.tour-image2 i,
.tour-image3 i {
  font-size: 12px;
  margin-left: 20px;
 visibility: hidden;
}

.tour-gallery .tour-image1 p,
.tour-image2 p,
.tour-image3 p {
  font-size: 16px;
  margin-left: 20px;
 visibility: hidden;
}

/* hover effects */

.tour-gallery .tour-image3 h1:hover {
  margin: 100px 10px 10px 10px;
}

.tour-gallery .tour-image3:hover i {
 visibility: visible;
  margin-top: 30px;
}

.tour-gallery .tour-image3:hover p {
  visibility: visible;
  margin-top: 30px;
}

.tour-gallery .tour-image2 h1:hover {
  margin: 100px 10px 10px 10px;
}

.tour-gallery .tour-image2:hover i {
 visibility: visible;
  margin-top: 30px;
}

.tour-gallery .tour-image2:hover p {
  visibility: visible;
  margin-top: 30px;
}


.tour-gallery .tour-image1 h1:hover {
  margin: 100px 10px 10px 10px;
}

.tour-gallery .tour-image1:hover i {
 visibility: visible;
  margin-top: 30px;
}

.tour-gallery .tour-image1:hover p {
  visibility: visible;
  margin-top: 30px;
}


@media all and (max-width: 1000px) {
  
  .tour-image1, .tour-image2, .tour-image3 {

    width: 30vw;
    height: 400px;
    background-position: center;
  }
  

}


@media all and (max-width: 600px){
  
.tour-gallery {
  flex-direction: column;
}

.tour-image1 {
  width: 90vw;
  height: 300px;
  background-position: center;
}

.tour-image2 {
  width: 90vw;
  height: 300px;
  background-position: center;
  transition: 1s;
}

.tour-image3 {
  width: 90vw;
  height: 300px;
  background-position: center;
}


}



/* footer Section */

.footer {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  background-color: #417703;
}

.footer .footer-head {
  color: #9fcd32;
  font-weight: 700;
}

.footer1 img {
  width: 200px;
}

.footer1 {
  font-family: var(--lexend-deca);
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: #fff;
  font-style: normal;
  text-align: center;
  margin: 50px;
}

.footer p {
  padding: 10px;
}

.footer2 {
  font-family: var(--lexend-deca);
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: #fff;
  font-style: normal;
  margin: 50px;
}

.footer3 {
  font-family: var(--lexend-deca);
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: #fff;
  font-style: normal;
  margin: 50px;
}

.footer4 {
  font-family: var(--lexend-deca);
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: #fff;
  font-style: normal;
  margin: 50px;
}

.footer5 {
  font-family: var(--lexend-deca);
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: #fff;
  font-style: normal;
  margin: 50px;
}

.footer5 a {
  color: white;
  margin: 8px;
}

.footer1 img {
  font-size: 14px;
}

/*  ----------------------------------------click to top------------------------------------------ */

.top {
  position: fixed;
  bottom: 0;
  right: 0px;
  padding: 5px;
  margin: 10px;
  background-color: #618c2f;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 2px 5px -1px;
  display: none;
  z-index: +99;
}

.top:hover {
  background-color: white;
  border: 1px solid black;
}

.top.Topactive {
  display: block;
}

.top a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.top a:hover {
  color: #417703;
  font-weight: 600;
}
