@import url(https://db.onlinewebfonts.com/c/115792e2e8292773cdb8dd0ab76459f2?family=Font+Awesome+6+Free+Solid);
@import url(https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Montserrat&family=Open+Sans:wght@500&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-size: cover;
}

body {
  /* background: url(../images/Home.png);
  opacity: 0.5;
  background-repeat: no-repeat; */

  font-family: var(--lexend-deca);
  font-size: 1.4rem;
  line-height: 1.6;
  font-weight: 300;
}

img {
  object-fit: cover;
}

:root {
  --lexend-deca: "Lexend Deca", sans-serif;
  --source-serif: "Source Serif 4", serif;
  font-weight: 500;
  font-style: normal;
}

.hamburger {
  margin-top: 30px;
  margin-left: -4px;
  cursor: pointer;
}

.logo img {
  margin-bottom: 15px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.ham {
  width: 30px;
  height: 6px;
  background-color: black;
  margin: 4px 0;
}

.menu {
  display: flex;
  background-color: rgb(255, 255, 255);
  justify-content: space-around;
}

.menu .contact span {
  font-weight: 900;
}

.contact {
  padding: 20px 30px;
  border: 1px solid rgba(159, 205, 50, 0.7);
  background-color: #fff;
  color: #000;
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: var(--lexend-deca);
  font-weight: 700;
  line-height: 21px;
  font-size: 13px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.contact:hover {
  filter: brightness(85%);
}

/* nav section */

.nav {
  background-color: #9fcd32;
  width: 300px;
  height: 600px;
  top: 0px;
  position: fixed;
  z-index: +25;
}

.close {
  position: absolute;
  right: 0;
  color: rgb(255, 255, 255);
  font-family: var(--lexend-deca);
  background-color: rgb(214, 19, 19);
  font-size: 16px;
  padding: 12px;
  line-height: 16px;
  font-weight: 500;
  font-style: normal;
  cursor: pointer;
}

.nav-list {
  padding: 20px;
  list-style: none;
  text-align: center;
  display: inline;
  line-height: 70px;
}

.nav-list a {
  text-decoration: none;
  color: #fff;
  font-family: var(--lexend-deca);
  margin: 10px 80px;
  padding-top: 30px;
  text-align: center;
  font-weight: 500;
  line-height: 26px;
  font-size: 16px;
}

.nav-list a:hover {
  background-color: #577909;
  padding: 10px;
}

.active {
  display: none;
}

/* Banner Section */
.banner .content h3 {
  color: white;
  font-weight: 300;
  line-height: 48px;
  size: 30px;
}

.banner .content h1 {
  color: white;
  font-family: var(--lexend-deca);
  font-size: 55px;
  line-height: 88px;
}

.banner .content button {
  background: #9fcd32;
  outline: none;
  border: none;
  font-size: 0.8rem;
  font-weight: 500;
  margin-top: 38px;
  padding: 12px 30px;
  border-radius: 0px;
  cursor: pointer;
  color: white;
  font-weight: 900;
  transition: 0.5s;
}

.banner .content button:hover {
  background-color: #577909;
}
.banner {
  background: url(../images/TourList/tourlist-banner.jpg);
  height: 80vh;
  display: flex;
  align-items: center;
  object-fit: cover;
  background-size: cover;
  padding: 0 200px;
}

.banner .content h3 {
  color: white;
  font-weight: 300;
  line-height: 48px;
  size: 30px;
}

.banner .content h1 {
  color: white;
  font-family: var(--lexend-deca);
  font-size: 55px;
  line-height: 88px;
}

.banner .content button {
  background: #9fcd32;
  outline: none;
  border: none;
  font-size: 0.8rem;
  font-weight: 500;
  margin-top: 38px;
  padding: 12px 30px;
  border-radius: 0px;
  cursor: pointer;
  color: white;
  font-weight: 900;
  transition: 0.5s;
}

.banner .content button:hover {
  background-color: #577909;
}

.bannerImage h3 {
  position: absolute;
  top: 100px;
  left: 243px;
  color: white;
  text-transform: uppercase;
  margin-top: 30px;
}

.bannerImage button {
  background: #9fcd32;
  outline: none;
  border: none;
  font-size: 0.8rem;
  font-weight: 500;
  margin-top: 38px;
  padding: 12px 30px;
  border-radius: 0px;
  cursor: pointer;
  color: white;
  font-weight: 900;
  transition: 0.5s;
}

/* Tour-list */

.Tour-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.Tour-info h1 {
  font-family: var(--source-serif);
  font-style: normal;
  font-size: 30px;
  line-height: 48px;
  font-weight: 500;
  margin: 80px 0px 20px 0px;
}

.Tour-info b {
  font-family: var(--lexend-deca);
  font-style: normal;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  width: 70%;
  margin: 0px 0px 20px 0px;
}

.Tour-info p {
  font-family: var(--lexend-deca);
  font-style: normal;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  width: 70%;
}

/* Travel-icons Section */

.Tour-icons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px 0px 0px 0px;
  border-radius: 50%;
  
}

.Tour-icons .icon-Text{
  font-family: var(--lexend-deca);
  font-size: 14px;
  /* height: 150px;
  width: 200px;
  background-color: #577909; */

}

.Tour-icons .Tour-icon .trip-icon {
  margin: 20px 0px 0px 0px;
  background-color: rgba(180, 250, 17,0.4);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  font-size: 55px;
  text-align: center;
  padding: 18%;
  color: #000000;
 
}

/* Tour Cards Section */

.card-section{
  background-color: rgb(204, 204, 204);
}

.cards{
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px 50px 100px 50px;
}

.card-left img{
  width: 350px;
  height: 400px;
  background-position: center;
}

.card-right h1{
  font-family: var(--source-serif);
  font-style: normal;
  font-size: 30px;
  line-height: 48px;
  font-weight: 500;
}


.card-right p{
  font-family: var(--lexend-deca);
  font-style: normal;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
}

.card-right .card-icons .right-icons .dollar{
  background-color: #9fcd32;
  height: 50px;
  color: #fff;
  width: 70px;
  padding: 3px;
  margin: 3px;
}

.card-icons{
 display: flex;
 align-items: center;
 justify-content: space-around;

}

.bottom-icon{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.booking-button{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
  padding: 50px 0px 50px 0px;
}

/* cards hover effect */
.cards:hover{
   height: 100vh;
}



.booking{
  background: #9fcd32;
  outline: none;
  border: none;
  font-size: 0.8rem;
  font-weight: 500;
  margin-top: 38px;
  padding: 12px 30px;
  border-radius: 0px;
  cursor: pointer;
  color: white;
  font-weight: 900;
  transition: 0.5s;
}



/* Date-Section */

.Date-section {
  background-color: #9fcd32;
  color: white;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.booking {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.Date-section .booking h1 {
  font-family: var(--source-serif);
  font-size: 30px;
  font-weight: 500;
  line-height: 48px;
  font-style: normal;
}


.Date-section .booking h1 span {
  font-family: var(--source-serif);
  font-size: 30px;
  font-weight: 500;
  line-height: 45px;
  font-style: normal;
  color: rgb(65, 119, 3);
}

.Date-section .booking h1 .Date-icon {
  color: rgb(255, 255, 255);
  font-family: var(--lexend-deca);
  font-size: 45px;
  font-weight: 500;
  line-height: 13px;
  font-style: normal;
}

.Date-section .booking .Date-Button button {
  border: none;
  font-family: var(--lexend-deca);
  font-size: 13px;
  font-weight: 700;
  line-height: 21px;
  background-color: #fff;
  font-style: normal;
  color: #000000;
  padding: 15px 35px 15px 35px;
}

.Date-section .booking .Date-Details {
  margin-right: 100px;
}

/* Gallery section */

.tour-gallery{
  margin: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.tour-image1{
  background: url(../images/TourList/home-gal-8.jpg);
  width: 350px;
  height: 300px;
}

.tour-image1{
  background: url(../images/TourList/home-gal-8.jpg);
  width: 350px;
  height: 300px;
}

.tour-image1{
  background: url(../images/TourList/home-gal-8.jpg);
  width: 350px;
  height: 300px;
}



/* .tour-gallery img{
 width: 350px;
 height: 300px;
 background-position: center;
} */

/* footer Section */

.footer{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  background-color: #577909;
}

.footer1{
  font-family: var(--lexend-deca);
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: #fff;
  font-style: normal;
  text-align: center;
}

.footer2{
  font-family: var(--lexend-deca);
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: #fff;
  font-style: normal;
}

.footer3{
  font-family: var(--lexend-deca);
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: #fff;
  font-style: normal;
}

.footer4{
  font-family: var(--lexend-deca);
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: #fff;
  font-style: normal;
}

.footer5{
  font-family: var(--lexend-deca);
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: #fff;
  font-style: normal;
}

.footer1 img{
  font-size: 14px;
}


