@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter&family=Poppins:wght@500&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap");
:root {
  --theme-color: #ee9d05;
  --black: #13131a;
  --bg: #010103;
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  display: grid;
  place-items: center;
}

section {
  height: 100vh;
  width: 100vw;
}

.header {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/img1.jpg");
  background-size: cover;
}

/*------------Nav----------------*/
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px 50px;
  align-items: baseline;
}

/*------------NavBar Toggle Button----------------*/

.btn-show {
  display: none;
  width: 30px;
  height: 30px;
  background-color: var(--theme-color);
  color: #ccc;
  padding: 5px;
  outline: none;
  border: none;
  flex-direction: column;
  justify-content: space-evenly;
}

.btn-show .bar {
  height: 2px;
  width: 100%;
  background-color: #fff;
}

/*------------Logo----------------*/

.header nav .logo {
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  font-size: 25px;
  letter-spacing: 1px;
}

.header nav .logo span {
  font-weight: 800;
  color: var(--theme-color);
}

/*------------NavBar Menus----------------*/

.header .navbar ul {
  display: flex;
  list-style: none;
}

.header .navbar ul {
  display: flex;
  list-style: none;
}

.header .navbar ul li {
  padding: 10px 30px;
}

.header .navbar ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  transition: 0.3s;
}

.header .navbar ul li:hover a {
  color: var(--theme-color);
}

.header .navbar ul li.link-btn:hover {
  background-color: #fff;
  color: var(--theme-color);
}

/*------------Banner----------------*/

.header .banner {
  color: #fff;
  position: absolute;
  left: 0;
  top: 150px;
  padding-left: 50px;
}

.header .banner h1 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 500;
}

.header .banner h1 span {
  font-weight: 800;
  color: var(--theme-color);
}

.header .banner p {
  margin: 30px 0;
}

/*------------Link Button----------------*/

.link-btn {
  background-color: var(--theme-color);
  color: white;
  padding: 5px 20px;
  border-radius: 2px;
  text-decoration: none;
  transition: 0.5s;
}

.link-btn:hover {

  color: var(--theme-color);
  background-color: #ffffff;
  border: 2px solid var(--theme-color);

}


/*------------Services----------------*/

.header .services {
  position: absolute;
  background-color: #fff;
  left: 0;
  bottom: 0;
  width: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.header .services .service {
  padding: 20px;
}

.header .services .service h3 {
  font-size: 16px;
  font-weight: 600;
  margin: 15px 0;
}

.header .services .service p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  margin: 15px 0;
}

.header .services .service a {
  color: #333;
  font-weight: 600;
}

.services .service:nth-child(1) {
  background-color: #26282c;
}

.services .service:nth-child(1) h3,
.services .service:nth-child(1) a {
  color: #fff;
}

.services .service:nth-child(1) p {
  color: rgba(255, 255, 255, 0.5);
}

.services .service:nth-child(2) {
  background-color: #e4e4e4;
}

.services .service:nth-child(3) {
  background-color: #f1f1f1;
}

/*------------Project----------------*/

.project {
  background-color: #e0e2de;
}

.project .row {
  width: 98%;
  margin: auto;
  display: flex;
}

.project .col {
  width: 50vw;
  height: 100vh;
  padding: 100px;
}

.project .col h3 {
  font-size: 30px;
  font-weight: 600;
  margin: 30px 0;
}

.project .col p {
  margin-bottom: 30px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.6);
}

.project .col-2 {
  position: relative;
}

.box-1 {
  background-color: var(--theme-color);
  position: absolute;
  width: 350px;
  height: 250px;
  top: 100px;
  right: 70px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.box-2 {
  position: absolute;
}

.project .box-2 {
  position: absolute;
  background-color: #f2dada;
  width: 100%;
  height: auto;
  top: 500px;
  bottom: 0;
  left: 0;
}

.project .img-box {
  position: absolute;
  background-image: url("../images/img9.jpg");
  background-size: cover;
  width: 400px;
  height: 400px;
  top: 200px;
  left: 190px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.top {
  position: fixed;
  bottom: 0;
  right: 0px;
  padding: 5px;
  background-color: var(--theme-color);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 2px 5px -1px;
  display: none;
}

.top.active {
  display: block;
}

.top a {
  color: white;
  text-decoration: none;
}

.trend {
  background-color: var(--theme-color);
  color: #fff;
  height: 100%;
}

.trend .row {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.trend h3 {
  font-size: 30px;
  font-weight: 600;
  margin: 38px 0;
  padding-top: -50px;
}

.trend p {
  padding: 30px;
  margin: 38px 0;
  line-height: 30px;
}

.trend .img-box {
  width: 800px;
  height: 400px;
  margin: 30px 0;
}

.trend .img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*Media Queries*/

@media (max-width: 968px) {
  .header nav .logo {
    font-size: 18px;
  }

  .header .navbar {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    position: absolute;
    width: 100%;
    text-align: center;
    top: 60px;
    left: 0;
    z-index: 1;
  }

  .header .navbar ul {
    flex-direction: column;
  }

  .header .navbar ul li:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  .banner {
    width: 100%;
  }

  .header .banner h1 {
    font-size: 30px;
  }

  .banner p {
    font-size: 14px;
  }

  .banner .link-btn {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .header .services {
    width: 100%;
    grid-template-columns: 1fr;

    position: absolute;
    background-color: #fff;
    left: 0;
    bottom: -30px;
  }

  .header .services .service {
    padding: 2px;
  }

  .banner {
    padding-bottom: 10px;
    margin-bottom: 30px;
  }

  .btn-show {
    display: flex;
  }

  .show {
    display: block !important;
  }

  .trend h3 {
    font-size: 25px;
    margin: 15px 0;
  }

  .trend p {
    padding: 0px;
    margin: 15px 0;
    line-height: 25px;
    font-size: 14px;
  }

  .project .col {
    padding-top: 100px;
  }

  .trend .img-box {
    margin: 20px 10px;
    width: 100%;
    height: 300px;
  }

  .feature {
    height: auto;
  }

  .feature h3 {
    font-size: 25px;
    margin: 15px 0;
  }

  .feature p {
    font-size: 14px;
  }

  .feature .row .boxs {
    grid-template-columns: 1fr 1fr;
  }

  .contact {
    flex-direction: column;
    position: relative;
  }

  .contact .col {
    width: 100%;
    height: 50vw;
    padding: 10px;
  }

  .form {
    height: 600px;
  }

  .design {
    position: absolute;
    text-align: center;
    left: 70px;
    top: 20px;
  }
}

/*project section starts*/
.rows {
  width: 80%;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  overflow-x: hidden;
  padding: 5rem 0;
}
.rows .imgWrapper {
  overflow: hidden;
}
.rows .imgWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}
.rows .imgWrapper:hover img {
  transform: scale(1.25);
}
.rows .contentWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
}
.rows .contentWrapper span.textWrapper {
  display: block;
  font-size: 20px;
  text-transform: capitalize;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}
.rows .contentWrapper span.textWrapper span {
  display: inline-block;
  background: #383f47;
  width: 70px;
  height: 5px;
}
.rows .contentWrapper h2 {
  font-size: 40px;
  font-weight: 700;
  color: #383f47;
  padding-bottom: 20px;
}
.rows .contentWrapper p {
  font-size: 16px;
  line-height: 25px;
  padding-bottom: 25px;
}
.rows .contentWrapper a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  background: var(--theme-color);
  color: #fff;
  padding: 15px 40px;
  letter-spacing: 1px;
  user-select: none;
}

.rows .contentWrapper a:hover {

  color: var(--theme-color);
  background-color: #ffffff;
  border: 1px solid var(--theme-color);

}


/*project section media queries starts*/

@media (max-width: 991px) {
  .rows {
    grid-template-columns: 1fr;
    grid-gap: 50px;
  }
  .rows .contentWrapper {
    padding-left: 0;
  }
}
@media (max-width: 768px) {
  .rows {
    width: 90%;
  }
  .rows .contentWrapper h2 {
    font-size: 30px;
    padding-bottom: 20px;
  }
  .rows .contentWrapper p {
    line-height: 24px;
  }
}
@media (max-width: 575px) {
  .rows .contentWrapper span.textWrapper {
    font-size: 18px;
  }
  .rows .contentWrapper h2 {
    font-size: 25px;
  }
  .rows .contentWrapper p {
    font-size: 15px;
    line-height: 22px;
  }
  .rows .contentWrapper a {
    font-size: 15px;
    padding: 10px 20px;
  }
}

/*project section ends*/

.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 100px;
}

.container:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: url("../images/contact.jpg") no-repeat center;
  background-size: cover;
  filter: blur(50px);
  z-index: -1;
}
.contact-box {
  max-width: 850px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

.by{
  margin-top: 10px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.by a{

  font-weight: 600;
  text-decoration: none;
}

.left {
  background: url("../images/contact.jpg") no-repeat center;
  background-size: cover;
  height: 100%;
}

.right {
  padding: 25px 40px;
}

h2 {
  position: relative;
  padding: 0 0 10px;
  margin-bottom: 10px;
}

h2:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background-color: var(--theme-color);
}

.field {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
  outline: none;
  background-color: rgba(230, 230, 230, 0.6);
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: 0.3s;
}

.field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

textarea {
  min-height: 150px;
}

.btn {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: var(--theme-color);
  color: #fff;
  font-size: 1.1rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: #e9e6e1;
  color: #ee9d05;
}

.field:focus {
  border: 2px solid rgba(30, 85, 250, 0.47);
  background-color: #fff;
}

@media screen and (max-width: 880px) {
  .contact-box {
    grid-template-columns: 1fr;
  }
  .left {
    height: 200px;
  }
}


.wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 5px;
}

img{
  width: 100%;
  border-radius: 20px;
}

.box{
  padding: 10px;
}

.content{
  width: 90%;
}

.content h3{
  font-size: 30px;
  margin-top: 50px;
}

.content p{
   line-height: 30px;
  font-size: 17px;
  margin: 20px 0;
  font-weight: 500;
}

#feature{
height: 100%;
}

.top {
  position: fixed;
  bottom: 0;
  right: 0px;
  padding: 5px;
  background-color: var(--theme-color);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 2px 5px -1px;
  display: none;
}

.top.active {
  display: block;
}

.top a {
  color: white;
  text-decoration: none;
}

.footercontainer{
	width: 100vw;
	margin:auto;
}
.footerrow{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #fcb900;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}




