@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter&family=Poppins:wght@500&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap");
:root {
  --theme-color: #ee9d05;
  --black: #13131a;
  --bg: #010103;
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {
  scroll-behavior: smooth;
}

section {
  height: 100vh;
  width: 100%;
}

.header {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/img1.jpg");
  background-size: cover;
}

/*------------Nav----------------*/
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px 50px;
  align-items: baseline;
}

/*------------NavBar Toggle Button----------------*/

.btn-show {
  display: none;
  width: 30px;
  height: 30px;
  background-color: var(--theme-color);
  color: #ccc;
  padding: 5px;
  outline: none;
  border: none;
  flex-direction: column;
  justify-content: space-evenly;
}

.btn-show .bar {
  height: 2px;
  width: 100%;
  background-color: #fff;
}

/*------------Logo----------------*/

.header nav .logo {
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  font-size: 25px;
  letter-spacing: 1px;
}

.header nav .logo span {
  font-weight: 800;
  color: var(--theme-color);
}

/*------------NavBar Menus----------------*/

.header .navbar ul {
  display: flex;
  list-style: none;
}

.header .navbar ul {
  display: flex;
  list-style: none;
}

.header .navbar ul li {
  padding: 10px 30px;
}

.header .navbar ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  transition: 0.3s;
}

.header .navbar ul li:hover a {
  color: var(--theme-color);
}

.header .navbar ul li.link-btn:hover {
  background-color: #fff;
  color: var(--theme-color);
}

/*------------Banner----------------*/

.header .banner {
  color: #fff;
  position: absolute;
  left: 0;
  top: 150px;
  padding-left: 50px;
}

.header .banner h1 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 500;
}

.header .banner h1 span {
  font-weight: 800;
  color: var(--theme-color);
}

.header .banner p {
  margin: 30px 0;
}

/*------------Link Button----------------*/

.link-btn {
  background-color: var(--theme-color);
  color: white;
  padding: 5px 20px;
  border-radius: 2px;
  text-decoration: none;
  transition: 0.5s;
}

/*------------Services----------------*/

.header .services {
  position: absolute;
  background-color: #fff;
  left: 0;
  bottom: 0;
  width: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.header .services .service {
  padding: 20px;
}

.header .services .service h3 {
  font-size: 16px;
  font-weight: 600;
  margin: 15px 0;
}

.header .services .service p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  margin: 15px 0;
}

.header .services .service a {
  color: #333;
  font-weight: 600;
}

.services .service:nth-child(1) {
  background-color: #26282c;
}

.services .service:nth-child(1) h3,
.services .service:nth-child(1) a {
  color: #fff;
}

.services .service:nth-child(1) p {
  color: rgba(255, 255, 255, 0.5);
}

.services .service:nth-child(2) {
  background-color: #e4e4e4;
}

.services .service:nth-child(3) {
  background-color: #f1f1f1;
}

/*------------Project----------------*/

.project {
  background-color: #e0e2de;
}

.project .row {
  width: 98%;
  margin: auto;
  display: flex;
}

.project .col {
  width: 50vw;
  height: 100vh;
  padding: 100px;
}

.project .col h3 {
  font-size: 30px;
  font-weight: 600;
  margin: 30px 0;
}

.project .col p {

  
  margin-bottom: 30px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.6);
}

.project .col-2 {
  position: relative;
}

.box-1 {
  background-color: var(--theme-color);
  position: absolute;
  width: 350px;
  height: 250px;
  top: 100px;
  right: 70px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.box-2 {
  position: absolute;
}

.project .box-2 {
  position: absolute;
  background-color: #f2dada;
  width: 100%;
  height: auto;
  top: 500px;
  bottom: 0;
  left: 0;
}

.project .img-box {
  position: absolute;
  background-image: url("../images/img9.jpg");
  background-size: cover;
  width: 400px;
  height: 400px;
  top: 200px;
  left: 190px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.top {
  position: fixed;
  bottom: 0;
  right: 0px;
  padding: 5px;
  background-color: var(--theme-color);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 2px 5px -1px;
  display: none;
}

.top.active {
  display: block;
}

.top a {
  color: white;
  text-decoration: none;
}

.trend {
  background-color: var(--theme-color);
  color: #fff;
  height: 100%;
}

.trend .row {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.trend h3 {
  font-size: 30px;
  font-weight: 600;
  margin: 38px 0;
  padding-top: -50px;
}

.trend p {
  padding: 30px;
  margin: 38px 0;
  line-height: 30px;
}

.trend .img-box {
  width: 800px;
  height: 400px;
  margin: 30px 0;
}

.trend .img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.feature .row {
  width: 90%;
  margin: auto;
}

.feature h3 {
  font-size: 30px;
  font-weight: 500;
  margin: 30px 10px;
  padding-top: 100px;
  color: #333;
}

.feature .row p {
  margin: 30px 10px;
  line-height: 30px;
  color: #333;
}

.feature .row .boxs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

 .feature .row .box .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} 

 /* .feature .row .box {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px; 
 } */

.contact {
  display: flex;

  width: 90%;
  margin: auto;
}

.contact .row {
  display: flex;
  width: 90%;
  margin: auto;
}

.contact .col {
  padding: 100px;
  width: 50vw;
  height: 100vh;
}

.contact .col img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact h3 {
  font-size: 30px;
  font-weight: 700;
  margin: 30px 0;
  color: var(--theme-color);
  text-transform: uppercase;
  border-bottom: 1px solid #f1f1f1;
}

.form {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.form .form-group {
  display: flex;
  flex-direction: column;
}

.form .form-group label {
  margin: 10px 0px;
  color: var(--theme-color);
  font-weight: 600;
}

.form .form-group input {
  height: 40px;
  padding: 10px;
  border: 1px solid #ccc;
  outline: none;
}

.form .form-group textarea {
  margin-bottom: 10px;
  height: 50px;
  border: 1px solid #ccc;
  resize: none;
}

.form .form-group input:focus {
  border: 1px solid var(--theme-color);
}

#message:focus {
  border: 1px solid var(--theme-color);
}

.form .form-group button {
  align-self: flex-start;
  width: 150px;
  height: 40px;
  background-color: var(--theme-color);
  color: #fff;
  border: none;
  transition: 0.5s;
}

.form .form-group button:hover {
  background-color: #fffcf7;
  color: #ee9d05;
  border: 1px solid var(--theme-color);
}



.design a {
  text-decoration: none;
  color: var(--theme-color);
  font-weight: 600;
}

.mar{
  position: relative;
}

.design {
  position: absolute;
  text-align: center;
  left: 60px;
  top: 20px;
}


/*Media Queries*/

@media (max-width: 968px) {
  .header nav .logo {
    font-size: 18px;
  }

  .header .navbar {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    position: absolute;
    width: 100%;
    text-align: center;
    top: 60px;
    left: 0;
    z-index: 1;
  }

  .header .navbar ul {
    flex-direction: column;
  }

  .header .navbar ul li:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  .banner {
    width: 100%;
  }

  .header .banner h1 {
    font-size: 30px;
  }

  .banner p {
    font-size: 14px;
  }

  .banner .link-btn {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .header .services {
    width: 100%;
    grid-template-columns: 1fr;

    position: absolute;
    background-color: #fff;
    left: 0;
    bottom: -30px;
  }

  .header .services .service {
    padding: 2px;
  }

  .banner {
    padding-bottom: 10px;
    margin-bottom: 30px;
  }

  .btn-show {
    display: flex;
  }

  .show {
    display: block !important;
  }

  /*Project Details*/

  .project .row {
    flex-direction: column;
  }

  .project .col {
    padding: 0;
    width: 100%;
    height: 300px;
  }

  .project .col{
    position: relative;
  }

  .project .col h3 {
    position: absolute;
    font-size: 25px;
    top: 0;
  }

  .project .box-1,
  .project .box-2 {
    display: none;
  }

  .project .img-box {
    width: 100%;
    height: 320px;
    align-items: center;
    left: 0;
    top: 50px;
  }

  .project p {
    font-size: 14px;
    padding-top: 0;
  }

  .trend h3{
    font-size: 25px;
    margin: 15px 0;


  }

  .trend p{
    padding: 0px;
    margin: 15px 0;
    line-height: 25px;
    font-size: 14px;


  }

  .project .col{
    padding-top: 100px;
  }
    
.trend .img-box{
  margin: 20px 10px;
  width: 100%;
  height: 300px;

}

.feature{
  height: auto;
}
  
.feature h3{
  font-size: 25px;
  margin: 15px 0;

}

.feature p{
  font-size: 14px;
}

.feature .row .boxs{

  grid-template-columns: 1fr 1fr;
 
}

.contact {
  flex-direction: column;
  position: relative;
}

.contact .col{
  width: 100%;
  height: 50vw;
  padding: 10px;
}

.form{
  height:600px;
 
}

.design {
  position: absolute;
  text-align: center;
  left: 70px;
  top: 20px;
}

}


