.one{
    position: fixed;
    width: 200px;
    height: 200px;
    background-color: rgba(47, 241, 8, 0.671);
}

.two{
    position: absolute;
    right: 0;
    width: 2rem;
    height: 2rem;
    background-color: rgb(199, 194, 194);
}


